<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php echo $pageTitle; ?></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li class="active">
                <strong><?php echo $pageTitle; ?></strong>
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><?php echo $pageTitle; ?><small> Simple Add Offer </small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <div id="addOfferResult"></div>

                            <div class="col-sm-12"><h3 class="m-t-none m-b"><?php echo $pageTitle; ?></h3>

                                <form role="form" id="AddOfferForm" enctype="multipart/form-data">

                                    <div class="form-group"><label>Offer Name</label> <input type="text" placeholder="Enter offer Title" class="form-control" id="offerTitle" name="offerTitle"></div>
                                    <div class="form-group"><label>Offer Price</label> <input type="text" placeholder="Enter offer price" class="form-control" id="offerPrice" name="offerPrice"></div>
                                    <div class="form-group"><label>Feature_1</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_1" name="feature_1"></div>
                                    <div class="form-group"><label>Feature_2</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_2" name="feature_2"></div>
                                    <div class="form-group"><label>Feature_3</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_3" name="feature_3"></div>
                                    <div class="form-group"><label>Feature_4</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_4" name="feature_4"></div>
                                    <div class="form-group"><label>Feature_5</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_5" name="feature_5"></div>
                                    <div class="form-group"><label>Feature_6</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_6" name="feature_6"></div>
                                    <div class="form-group"><label>Feature_7</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_7" name="feature_7"></div>
                                    <div class="form-group"><label>Feature_8</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_8" name="feature_8"></div>
                                    <div class="form-group"><label>Feature_9</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_9" name="feature_9"></div>
                                    <div class="form-group"><label>Feature_10</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_10" name="feature_10"></div>
                                    <div class="form-group"><label>Feature_11</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_11" name="feature_11"></div>
                                    <div class="form-group"><label>Feature_12</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_12" name="feature_12"></div>
                                    <div class="form-group"><label>Feature_13</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_13" name="feature_13"></div>
                                    <div class="form-group"><label>Feature_14</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_14" name="feature_14"></div>
                                    <div class="form-group"><label>Feature_15</label> <input type="text" placeholder="Enter feature" class="form-control" id="feature_15" name="feature_15"></div>

                                    <div class="form-group"><label>Offer Category</label>
                                        <select class="form-control" name="offerCategory" id="offerCategory">

                                        <?php foreach($offerCategories as $offer){

                                       $id   = $offer['offer_category_id'];
                                       $name = $offer['offer_category_name'];

                                       echo "<option value='$id'>$name</option>";

                                            } ?>

                                        </select>
                                    </div>

                                    <div>
                                        <button class="btn btn-sm btn-primary" type="submit" id="addOffer_submit" name="addOffer_submit" style="font-weight: bold"><strong>Add Offer</strong></button>
                                        <span  class="btn btn-sm btn-primary" id="addOffer_spinner" style="font-weight: bold;display: none">Loading <i class="fa fa-refresh fa-spin" style="font-size:18px;color: white"></i></span>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>