<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php  echo $pageTitle; ?></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li class="active">
                <strong><?php  echo $pageTitle; ?></strong>
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><?php  echo $pageTitle;  ?></h5>
                    </div>
                    <div class="ibox-content">

                        <div id="articles_result" style="display: none"></div>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center">#ID</th>
                                <th style="text-align: center">Article Title</th>
                                <th style="text-align: center">Article Subject</th>
                                <th style="text-align: center">Created_By</th>
                                <th style="text-align: center">Created_AT</th>
                                <th style="text-align: center">Number Of Images</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody style="text-align: center;font-weight: bold">
                            <?php  foreach($articles as $article){ ?>
                            <tr class="gradeX">
                                <?php $id_of_article = $article['article_id'];    ?>
                                <?php $countOfImages  = $imagesModel->getNumberOfImages($id_of_article); ?>
                                <td><?php echo $article['article_id']; ?></td>
                                <td><?php echo $article['article_title']; ?></td>
                                <td><?php echo $article['subject_title']; ?></td>
                                <td><?php echo $article['name']; ?></td>
                                <td><?php echo $article['article_created_at']; ?></td>
                                <td><?php echo $countOfImages; ?></td>
                                <td><div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="article.php?id=<?php echo $article['article_id']; ?>&subject_id=<?php echo $article['subject_id']; ?>" class="font-bold"> <i class="fa fa-desktop"></i> Show Details </a></li>
                                        <li><a href="updateArticle.php?id=<?php echo $article['article_id']; ?>&subject_id=<?php echo $article['subject_id']; ?>" class="font-bold"> <i class="fa fa-refresh"></i> Update </a></li>
                                        <li><a href="updateImages.php?id=<?php echo $article['article_id']; ?>&subject_id=<?php echo $article['subject_id']; ?>" class="font-bold"> <i class="fa fa-refresh"></i> Edite Photo </a></li>
                                        <li><a href="" class="font-bold confirmDeleteArticle" id="<?php echo $article['article_id']; ?>"> <i class="fa fa-trash"></i> Delete </a></li>
                                    </ul>
                                </div></td>
                            </tr>
                            <?php } ?>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
