<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>All FAQ Categories</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li class="active">
                <strong>All FAQ Categories</strong>
            </li>
        </ol>
    </div>
</div>


<div class="container">
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>All FAQ Categories</h5>
            </div>
            <div class="ibox-content">

                <div id="FAQ_categories_result" style="display: none">

                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Category Name</th>
                        <th>Created_AT</th>
                        <th>Control</th>
                    </tr>
                    </thead>
                    <tbody style="font-weight: bold">

                    <?php foreach($FaqCategories as $FaqCategory){ ?>
                    <tr>
                        <td><?php echo $FaqCategory['faq_category_id']; ?></td>
                        <td><?php echo $FaqCategory['faq_category_name']; ?></td>
                        <td><?php echo $FaqCategory['created_at']; ?></td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="updateFaqCategory.php?id=<?php echo $FaqCategory['faq_category_id']; ?>" class="font-bold"> <i class="fa fa-refresh"></i> Update </a></li>
                                    <li><a href="" class="font-bold confirmDeleteFaqCategory" id="<?php echo $FaqCategory['faq_category_id']; ?>"> <i class="fa fa-trash"></i> Delete </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                    <?php } ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>