<div class="footer">
    <div class="pull-right">

    </div>
    <div style="text-align: center">
        <strong>Copyright</strong> Webinty &copy; <?php echo date("Y"); ?>
    </div>
</div>
</div>
</div>

</div>
</div>

<!-- Mainly scripts -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/jquery-2.1.1.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/bootstrap.min.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/flot/jquery.flot.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/flot/jquery.flot.spline.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/flot/jquery.flot.resize.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/peity/jquery.peity.min.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/inspinia.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/toastr/toastr.min.js"></script>

<!-- start flora Editor -->

<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/froala_editor.min.js"></script>

<!-- Include Code Mirror. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>


<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/align.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/colors.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/entities.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/file.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/font_family.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/image.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/link.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/quote.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/table.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/save.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/url.min.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/plugins/video.min.js"></script>

<!-- Include Language file if we want to use it. -->
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/languages/ro.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/languages/ar.js"></script>
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>flora/js/languages/ro.js"></script>

<!-- End flora Editor -->



<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/plugins/validate/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>

<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH; ?>js/webinty_customize.js"></script>


<!-- Table responsive -->
<script>
    $('.table-responsive').on('show.bs.dropdown', function () {
        $('.table-responsive').css( "overflow", "inherit" );
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.table-responsive').css( "overflow", "auto" );
    })
</script>
<!-- End Table Responsive -->

<!-- Blink Me -->
<script>


    function blinker()
    {
        $('.blink_me').fadeOut(500);
        $('.blink_me').fadeIn(500);
    }

    setInterval(blinker, 1000);
</script>
<!-- End Blink Me -->




<!-- Image Perview -->
<script>

    function preview_image()
    {
        var total_file=document.getElementById("articleimage").files.length;
        for(var i=0;i<total_file;i++)
        {
            $('#image_preview').append("<img class='img-thumbnail img-responsive  perview' style='height:120px;width: 16%' src='"+URL.createObjectURL(event.target.files[i])+"'>");
        }
    }

</script>

<!-- Image Perview -->




<!-- Start Carsul slider -->

    <script>
        $(document).ready(function () {
            $('#carousel-example-generic').find('.item').first().addClass('active');
        });
    </script>



<!-- End Carsul slider-->








<!-- Start FAQS Tabs -->



<script>

    $(document).ready(function () {

        $('.star').on('click', function () {
            $(this).toggleClass('star-checked');
        });

        $('.ckbox label').on('click', function () {
            $(this).parents('tr').toggleClass('selected');
        });

        $('.btn-filter').on('click', function () {
            var $target = $(this).data('target');
            if ($target != 'all') {
                $('.table tr').css('display', 'none');
                $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
            } else {
                $('.table tr').css('display', 'none').fadeIn('slow');
            }
        });

    });

</script>

<!-- End FAQS Tabs -->








<!-- Initialize the editor. -->
<script>
    $(function() {
        $('#edit').froalaEditor()
    });

</script>

<script>
    var username = "<?php echo $_SESSION['user']['name']; ?>";
</script>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000
            };
            toastr.success('Webinty Admin Panal', 'Welcome '+username);

        }, 1300);


        var data1 = [
            [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,30],[11,10],[12,13],[13,4],[14,3],[15,3],[16,6]
        ];
        var data2 = [
            [0,1],[1,0],[2,2],[3,0],[4,1],[5,3],[6,1],[7,5],[8,2],[9,3],[10,2],[11,1],[12,0],[13,2],[14,8],[15,0],[16,0]
        ];
        $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
            {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#d5d5d5'
                },
                colors: ["#1ab394", "#464f88"],
                xaxis:{
                },
                yaxis: {
                    ticks: 4
                },
                tooltip: false
            }
        );

        var doughnutData = [
            {
                value: 300,
                color: "#a3e1d4",
                highlight: "#1ab394",
                label: "App"
            },
            {
                value: 50,
                color: "#dedede",
                highlight: "#1ab394",
                label: "Software"
            },
            {
                value: 100,
                color: "#b5b8cf",
                highlight: "#1ab394",
                label: "Laptop"
            }
        ];

        var doughnutOptions = {
            segmentShowStroke: true,
            segmentStrokeColor: "#fff",
            segmentStrokeWidth: 2,
            percentageInnerCutout: 45, // This is 0 for Pie charts
            animationSteps: 100,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
        };

        var ctx = document.getElementById("doughnutChart").getContext("2d");
        var DoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

        var polarData = [
            {
                value: 300,
                color: "#a3e1d4",
                highlight: "#1ab394",
                label: "App"
            },
            {
                value: 140,
                color: "#dedede",
                highlight: "#1ab394",
                label: "Software"
            },
            {
                value: 200,
                color: "#b5b8cf",
                highlight: "#1ab394",
                label: "Laptop"
            }
        ];

        var polarOptions = {
            scaleShowLabelBackdrop: true,
            scaleBackdropColor: "rgba(255,255,255,0.75)",
            scaleBeginAtZero: true,
            scaleBackdropPaddingY: 1,
            scaleBackdropPaddingX: 1,
            scaleShowLine: true,
            segmentShowStroke: true,
            segmentStrokeColor: "#fff",
            segmentStrokeWidth: 2,
            animationSteps: 100,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
        };
        var ctx = document.getElementById("polarChart").getContext("2d");
        var Polarchart = new Chart(ctx).PolarArea(polarData, polarOptions);

    });
</script>

</body>
</html>
