<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><?php echo $pageTitle; ?></title>

    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Font Noto Kufi Arabic -->
    <link href="https://fonts.googleapis.com/earlyaccess/notokufiarabic.css" rel="stylesheet" type="text/css" />


    <!-- Toastr style -->
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <!-- start table Data -->
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <!-- end table Data -->


    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/animate.css" rel="stylesheet">
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/style.css" rel="stylesheet">
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>css/webinty.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- start flora Editor -->

    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/char_counter.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/code_view.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/colors.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/emoticons.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/file.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/image.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/image_manager.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/quick_insert.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/table.css">
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>flora/css/plugins/video.css">

    <!-- End flora Editor -->


</head>

<body>

