<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php echo $pageTitle; ?></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/offerCategories.php">All Offers Categories</a>
            </li>
            <li class="active">
                <strong><?php echo $pageTitle; ?></strong>
            </li>
        </ol>
    </div>
</div>



<div class="container content">
    <div class="row">
        <!-- Pricing -->
        <?php foreach($offers as $offer) { ?>
        <div class="col-md-3">
            <div class="pricing hover-effect text-center">
                <div class="pricing-head">
                    <h3><?php echo $offer['offer_title']; ?></h3>
                    <h4><i></i><?php echo $offer['price']; ?><i>L.E</i></h4>
                    <!-- Price By Dollar -->
                    <?php $DollarPrice = $offer['price']/18;  ?>
                    <h4 style="color: #8095a8"><i>$</i><?php echo number_format($DollarPrice); ?><i></i> </h4>

                </div>
                <ul class="pricing-content list-unstyled">
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_1']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_2']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_3']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_4']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_5']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_6']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_7']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_8']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_9']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_10']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_11']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_12']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_13']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_14']; ?>
                    </li>
                    <li style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">
                        <?php echo $offer['factor_15']; ?>
                    </li>
                </ul>
            </div>
        </div>
        <?php } ?>
        <!--//End Pricing -->
    </div>
</div>
