<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php  echo $section['section_name'].' - Section'; ?></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/TeamWorkSections.php">All TeamWork Sesctions</a>
            </li>
            <li class="active">
                <strong><?php  echo $section['section_name'].' - Section'; ?></strong>
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><?php  echo $section['section_name'].' - Section'; ?></h5>
            </div>
            <div class="ibox-content">


                <table class="table table-hover" style="font-weight: bold">
                    <tr>
                        <th>Section ID:</th>
                        <td><?php echo $section['section_id']; ?></td>
                    </tr>
                    <tr>
                        <th>Section Name:</th>
                        <td><?php echo $section['section_name']; ?></td>
                    </tr>

                    <tr>
                        <th>Created AT:</th>
                        <td><?php echo $section['created_at']; ?></td>
                    </tr>
                    <tr>
                        <th>Created By:</th>
                        <td><?php echo $section['name']; ?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>