<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>All TeamWork Sections</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li class="active">
                <strong>All TeamWork Sections</strong>
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>All TeamWork Sections: (<?php echo $NumberOfSection;  ?>)</h5>
            </div>
            <div class="ibox-content">

                <div id="AllTeamWorkSections_result" style="display: none"></div>

                <div class="table-responsive" style="overflow-x:auto;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Section Name</th>
                            <th>Created_By</th>
                            <th>Created_AT</th>
                            <th>Control</th>
                        </tr>
                        </thead>
                        <tbody style="font-weight: bold">

                        <?php foreach($sections as $section){ ?>

                        <tr>
                            <td><?php echo $section['section_id']; ?></td>
                            <td><?php echo $section['section_name']; ?></td>
                            <td><?php echo $section['name']; ?></td>
                            <td><?php echo $section['created_at']; ?></td>
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="TeamWorkSection.php?id=<?php echo $section['section_id']; ?>" class="font-bold"> <i class="fa fa-desktop"></i> Show Details </a></li>
                                        <li><a href="updateTeamWorkSection.php?id=<?php echo $section['section_id']; ?>" class="font-bold"> <i class="fa fa-refresh"></i> Update </a></li>
                                        <li><a href="" class="font-bold confirmDeleteTeamWorkSection" id="<?php echo $section['section_id']; ?>"> <i class="fa fa-trash"></i> Delete </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <?php } ?>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>



</div>