<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php echo $Member['member_name']; ?> | TeamWork Member</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/teamWorkMembers.php">All TeamWork Members</a>
            </li>
            <li class="active">
                <strong><?php echo $Member['member_name']; ?></strong>
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Member Info</h5>
            </div>
            <div class="ibox-content">


                <table class="table table-hover">
                    <tr>
                        <th>Member Image:</th>
                        <td><img alt="image" class="img-thumbnail" height="100px" width="100px" src="<?php echo WEBINTY_BACKEND_UPLOADS_PATH ; ?>teamwork/<?php echo $Member['member_image']; ?>" /></td>
                    </tr>
                    <tr>
                        <th>Member Name:</th>
                        <td><?php echo $Member['member_name']; ?></td>
                    </tr>
                    <tr>
                        <th>Member Section:</th>
                        <td><?php echo $Member['section_name']; ?></td>
                    </tr>
                    <tr>
                        <th>Member Jop Title:</th>
                        <td><?php echo $Member['member_jop_title']; ?></td>
                    </tr>
                    <tr>
                        <th>About Member:</th>
                        <td><?php echo $Member['member_description']; ?></td>
                    </tr>
                    <tr>
                        <th>Facebook Account:</th>
                        <td><a href="<?php if ($Member['member_facebook']==null) {echo'#';} else {echo $Member['member_facebook'];} ?>" target="_blank">Facebook</a></td>
                    </tr>
                    <tr>
                        <th>Twitter Account:</th>
                        <td><a href="<?php if ($Member['member_twitter']==null) {echo'https://twitter.com/';} else {echo $Member['member_twitter'];} ?>" target="_blank">Twitter</a></td>
                    </tr>
                    <tr>
                        <th>LinkedIn:</th>
                        <td><a href="<?php if ($Member['member_linkedin']==null) {echo'https://www.linkedin.com/';} else {echo $Member['member_linkedin'];} ?>" target="_blank">LinkedIn</a></td>
                    </tr>
                    <tr>
                        <th>GooglePlus:</th>
                        <td><a href="<?php if ($Member['member_googleplus']==null) {echo'https://plus.google.com/explore';} else {echo $Member['member_googleplus'];} ?>" target="_blank">GooglePlus</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>