<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php echo $pageTitle; ?></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/faqsCategories.php">All FAQ Categories</a>
            </li>
            <li class="active">
                <strong><?php echo $pageTitle; ?></strong>
            </li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Update FAQ Category<small> Simple Update FAQ Category </small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <div id="updateFaqCategoryResult"></div>

                            <div class="col-sm-12"><h3 class="m-t-none m-b"><?php echo $pageTitle; ?></h3>

                                <form role="form" id="updateFaqCategory">

                                    <div class="form-group"><label>FAQ Category Name</label> <input type="text" placeholder="Enter FAQ Category Name" class="form-control" id="faqCategoryname" name="faqCategoryname" value="<?php echo $faqCatgory['faq_category_name']; ?>"></div>
                                    <input type="hidden" name="faq_Category" value="<?php echo $faqCatgory['faq_category_id']; ?>">

                                    <div>
                                        <button class="btn btn-sm btn-primary" type="submit" id="updateFaqCategory_submit" name="updateFaqCategory_submit" style="font-weight: bold"><strong>Update Faq Category</strong></button>
                                        <span  class="btn btn-sm btn-primary" id="updateFaqCategory_spinner" style="font-weight: bold;display: none">Loading <i class="fa fa-refresh fa-spin" style="font-size:18px;color: white"></i></span>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>