<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php echo $article['article_title']; ?></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/">Home</a>
            </li>
            <li>
                <a href="<?php echo WEBINTY_PATH; ?>admin_dashboard/articles.php">All Articles</a>
            </li>
            <li class="active">
                <strong><?php echo $article['article_title']; ?></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Update Article<small> Simple update Article </small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="alert alert-info">
                            <strong><span style="color: #676a6c">Note: </span> you must include http:// in the URL you enter In video link ( http://www.example.com )</strong>
                        </div>

                        <div id="updateArticleResult"></div>

                        <div class="col-sm-12"><h3 class="m-t-none m-b"><?php echo $article['article_title']; ?></h3>

                            <form role="form" id="updateArticleForm" enctype="multipart/form-data">

                                <div class="form-group"><label>Article Title</label> <input type="text" placeholder="Enter Article Title" class="form-control" id="articletitle" name="articletitle" value="<?php echo $article['article_title']; ?>"></div>
                                <div class="form-group"><label>Article Description</label> <textarea id="edit" name="articledescription" ><?php echo $article['article_description'];  ?></textarea></div>
                                <div class="form-group"><label>Article Video</label> <input type="text" placeholder="Enter video Link" class="form-control" id="articlevideo" name="articlevideo" value="<?php echo $article['article_video'];  ?>"></div>

                                <div class="form-group"><label>Article SEO Title</label> <input type="text" placeholder="Enter Article SEO Title" class="form-control" id="articleseotitle" name="articleseotitle" value="<?php echo $article['article_seo_title'];  ?>"></div>
                                <div class="form-group"><label>Article SEO Description</label> <textarea id="articleseodescription" name="articleseodescription" class="form-control" rows="8" ><?php echo $article['article_seo_description'];  ?></textarea></div><br/>
                                <div class="form-group"><label>Article SEO Keywords</label> <input type="text" placeholder="Enter Article SEO Keywords" class="form-control" id="articleseokeywords" name="articleseokeywords" value="<?php echo $article['article_seo_keywords'];  ?>"></div>
                                <div class="form-group"><label>Article SEO Imgage Alt</label> <input type="text" placeholder="Enter Article SEO Image Alt" class="form-control" id="articleseoimagealt" name="articleseoimagealt" value="<?php echo $article['article_seo_image_alt'];  ?>"></div>
                                <div class="form-group"><label>Article SEO Imgage Title</label> <input type="text" placeholder="Enter Article SEO Image Alt" class="form-control" id="articleseoimagetitle" name="articleseoimagetitle" value="<?php echo $article['article_seo_image_title'];  ?>"></div>

                                <div class="form-group"><label>Article SEO og Graph MetaTag Old Image:</label><br/>
                                    <img class="img-thumbnail" width="100px" height="100px" src="<?php echo WEBINTY_BACKEND_UPLOADS_PATH ; ?>articles/seo_og_image/<?php echo $article['article_seo_og_image']; ?>"><br><br>
                                    <code>It should be at least 600×315 pixels, but 1200×630 or larger is preferred (up to 5MB).</code>
                                    <input type="file" class="form-control" id="update_article_seo_og_image" name="update_article_seo_og_image">
                                </div>

                                <div class="form-group"><label>Article Subject</label>
                                    <select class="form-control" name="articlesubject" id="articlesubject">

                                        <?php foreach($subjects as $subject){

                                       $id   = $subject['subject_id'];
                                       $name = $subject['subject_title'];

                                       ?>

                                        <option value="<?php echo $id; ?>" <?php echo ($article['article_subject']== $id)? "selected": "" ; ?> ><?php echo $name; ?></option>

                                        <?php } ?>

                                    </select>
                                </div>

                                <input type="hidden" name="article_id" value="<?php echo $article['article_id']; ?>">

                                <div>
                                    <button class="btn btn-sm btn-primary" type="submit" id="updateArticle_submit" name="updateArticle_submit" style="font-weight: bold"><strong>Update Article</strong></button>
                                    <span  class="btn btn-sm btn-primary" id="updateArticle_spinner" style="font-weight: bold;display: none">Loading <i class="fa fa-refresh fa-spin" style="font-size:18px;color: white"></i></span>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>