<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >نبذه عن شركه ويب ينتي </h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >عن الشركة</span>
        </div>
    </div>
</section>
<!-- End Page Title -->







<!-- Tabs 1 -->
<section class="content_section border_t_n">
    <div class="content row_spacer">
        <div class="main_title centered upper">
            <h2 class="webinty_arabic_font"><span class="line"><span class="dot"></span></span>نبذه عن شركه ويب ينتي</h2>
        </div>
        <div class="hm-tabs tabs2 upper_title">
            <nav class="clearfix">
                <ul class="tabs-navi">
                    <li><a data-content="vission" class="selected webinty_arabic_font" href="#"> <span> <i class="ico-anchor2"></i> </span>من نحن</a></li>
                    <li><a data-content="solutions" href="#" class="webinty_arabic_font"><span> <i class="ico-heart-o"></i> </span> رؤية شركه ويب ينتي </a></li>
                    <li><a data-content="gallery" href="#" class="webinty_arabic_font"><span> <i class="ico-microphone2"></i> </span>رسالة شركة ويب ينتي</a></li>
                    <li><a data-content="technology" href="#" class="webinty_arabic_font"><span> <i class="ico-sun4"></i> </span>استراتجية شركه ويب ينتي</a></li>
                    <li><a data-content="settings" href="#" class="webinty_arabic_font"><span> <i class="ico-location3"></i> </span>لماذا ستختار شركة ويب ينتي</a></li>
                </ul> <!-- tabs-navi -->
            </nav>

            <ul class="tabs-body">
                <li data-content="vission" class="selected clearfix">

                    <div class="tab_img">
                        <a class="magnific-popup img_popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/about_us.jpg">
                            <span><i class="ico-maximize"></i></span>
                            <img class="popup_img" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/about_us.jpg" alt="vission">
                        </a>
                    </div>
                    <h6 class="webinty_arabic_font"><span class="label label-info">من نحن ؟</span></h6>
                    <p class="webinty_arabic_font">شركة ويب ينتي هي شركة مصرية تأسست في عام 2018 ويسعى فريق العمل بالشركة لتقديم خدمات وحلول احترافية لأعمالك.</p>

                    <p class="webinty_arabic_font_without_bold">نعتمد في شركة webinty على فكر مُتطور وجديد في مجال التسويق الإلكتروني وبرمجة وتصميم المواقع الإلكترونية والمتاجر، حيث نُقدم كل ما نمتلكه من خبرات لدى المؤسسين وفريق العمل بين يدي العميل حتى يصل لما يتمناه عند تصميم موقع الكتروني أو العمل على تسويق مُنتجات أو تسويق شركته في السوق المُستهدف، ولا نعتمد في خدماتنا على رفع الأسعار وذلك حتى تتناسب خدماتنا مع جميع فئات العُملاء فنحن نوفر العديد من الخطط والخدمات الخاصة بكل خدمة بشكل مُنفصل.</p>
                    <p class="webinty_arabic_font_without_bold">نعمل دائمًا على تطوير الشركة والمُتابعة المُستمرة لكل ما هو جديد في مجالات أعمالنا ونعمل على تدريب فريق العمل لدينا على كل ما هو جديد من خلال أحدث التقنيات لذلك لا تتردد في التواصل معنا الآن من خلال الإتصال بنا أو التواصل من خلال صفحة تواصل معنا والبدء في نشاطك على الإنترنت أو مُساعدتك في الإنتشار والوصول للسوق المُستهدف فكل ما يُهمنا هو نجاحك.</p>
                </li>

                <li data-content="solutions">
                    <h6 class="webinty_arabic_font"><span class="label label-info">رؤيتنا</span></h6>
                    <p class="webinty_arabic_font_without_bold">رؤيتنا هي توفير عدد كبير من الخدمات التي تحتاجها الشركات، والعمل على الاستعانة بأمهر الفنيين وأكثرهم احترافية ومهنية، لتحقيق رسالتنا في تنفيذ مشروعاتنا بإتقان، كذلك الاستعانة بأحدث الأدوات وأحدث الموارد التي يتطلبها انجاز العمل بأعلى مستوى من الاحترافية والمهنية، مع الاهتمام بأدق التفاصيل لإنجاز المشروعات بأعلى مستوى من الإتقان والاحترافية</p>

                </li>

                <li data-content="gallery">
                    <h6 class="webinty_arabic_font"><span class="label label-info">رسالتنا</span></h6>
                    <p class="webinty_arabic_font_without_bold">رسالتنا يمكن تلخيصها في مبدأ مشتق من الإسم الذي أطلقناه على شركتنا، وهو الإتقان في العمل، نحن نهدف الى تقديم خدماتنا بأعلى مستوى من الإتقان ومن الحرفية، دون أن يكون لذلك أثر بالغ على الأسعار التي نقدم بها خدماتنا، ليكون شعارنا في العمل هو تقديم اعلى مستوى من الجودة بأقوى الأسعار التنافسية، وليكون الإتقان هو السمة المميزة لما نقدمه من أعمال.</p>
                </li>

                <li data-content="technology">
                    <h6 class="webinty_arabic_font"><span class="label label-info">استراتيجيتنا</span></h6>

                    <p class="webinty_arabic_font_without_bold">استراتيجيتنا تتلخص في ان نكون عامل جذب لكل الأيدي العاملة الماهرة، وتبني سياسات تدعم تدريب الخريجين الجدد للإستفادة من طاقاتهم، وللمساهمة في اعدادهم ليكونوا نواة للغد، هذا قطعا مع السعي لتطعيم فرق العمل لدينا بذوي الخبرات والمهارات .. ويساعد هذا التنوع والتباين في أعمار وخبرات فريق العمل على استخراج المهارات الابداعية، لأستخراج افضل ما عند فريق العمل لصالح عملاؤنا.</p>
                </li>

                <li data-content="settings">

                    <p class="webinty_arabic_font_without_bold">لإن الرؤية التي قامت عليها الشركة، والرسالة التي تهدف الى تحقيقها، والاستراتيجية التي تعمل بها في سبيل تحقيق الرؤية والرسالة تجعلنا الوجهه المفضة لكل البحاثين عن الحلول لأعمالهم...</p>
                </li>

            </ul>
            <!-- Tabs Content -->
        </div>
        <!-- End Tabs Container -->
    </div>
</section>
<!-- End Tabs 1 -->