<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >تواصل معنا </h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اتصل بنا</span>
        </div>
    </div>
</section>
<!-- End Page Title -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><i class="ico-smile"></i></span>يمنكك التواصل معنا فى اى وقت يسعدنا التواصل معكم</h2>
        </div>

        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <div class="bordered_content with_text bordered">
                    <div class="map-responsive">
                     <?php foreach($publicData as $data) {  ?>
                        <?php echo $data['google_map_iframe']; ?>
                     <?php } ?>
                    </div>

                    </div>
            </div>

            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">شركة ويب ينتي</h2>
                <br>
                <ul class="list3">
                    <li class="webinty_arabic_font_without_bold black_font">

                        مقر الشركة :  ٢٠ شارع حلمي حسن علي، متفرع من شارع مصطفى النحاس، مدينة نصر، القاهرة، جمهورية مصر العربية
                    </li>
                    <li class="webinty_arabic_font_without_bold black_font">
                        تليفون : <a style="color: red" href="tel:01287258368">01287258368</a> - <a style="color: red" href="tel:01287258368">01287258368</a>
                    </li>
                    <li class="webinty_arabic_font_without_bold black_font">
                        البريد الالكتروني : info@webinty.com
                    </li>
                </ul>

            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">قسم المبيعات</h2>
                <br>
                <p class="webinty_arabic_font">اذا كنت تريد طلب احد منتجاتنا او خدماتنا .. يمكنك التواصل مع قسم المبيعات مباشرة عن طريق المعلومات التالية:</p>
                <ul class="list3">
                    <li class="webinty_arabic_font_without_bold black_font">
                        أرقام فريق المبيعات: <a style="color: red" href="tel:01287258368">01287258368</a> - <a style="color: red" href="tel:01287258368">01287258368</a> - <a style="color: red" href="tel:01287258368">01287258368</a>

                    </li>
                    <li class="webinty_arabic_font_without_bold black_font">
                        الواتساب: <a style="color: red" href="tel:01287258368">01287258368</a>
                    </li>
                    <li class="webinty_arabic_font_without_bold black_font">
                        البريد الالكتروني: sales@webinty.com
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sales.jpg" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->




<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/tech_support.jpg" alt="Image Title">
            </div>

            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">الدعم الفني وخدمة العملاء</h2>
                <br>
                <p class="webinty_arabic_font">اذا كنت احد عملاءنا وترغب في الحصول على الدعم الفني لمنتجاتنا وخدماتنا، استخدم وسائل الاتصال التالية:</p>
                <ul class="list3">
                    <li class="webinty_arabic_font_without_bold black_font">
                        أرقام فريق الدعم الفني : <a style="color: red" href="tel:01287258368">01287258368</a> - <a style="color: red" href="tel:01287258368">01287258368</a> - <a style="color: red" href="tel:01287258368">01287258368</a>

                    </li>
                    <li class="webinty_arabic_font_without_bold black_font">
                        الدعم الفني للسيرفرات والخوادم وخطط الاستضافة: <a style="color: red" href="tel:01287258368">01287258368</a>
                    </li>
                    <li class="webinty_arabic_font_without_bold black_font">
                        الدعم الفني عن طريق الايميل: support@webinty.com
                    </li>
                </ul>
            </div>


        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->




<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font"><i class="ico-envelope3"></i>إرسل استفسار / طلب خدمة</h2>
                <p class="webinty_arabic_font_without_bold black_font">يمكنك طلب اي خدمة اونلاين باستخدام النموذج التالي، قم بملئ بيانات الاتصال الخاصة بك، واكتب لنا تفاصيل طلبك، وسيقوم احد ممثلي خدمة العملاء بالتواصل معك خلال ساعات قليلة...</p>
                <br><br>
                <form>
                    <div class="form-group">
                        <label for="exampleInputName" class="webinty_arabic_font">الإسم :</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="اكتب إسمك هنا ..">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail" class="webinty_arabic_font">الإيميل :</label>
                        <input type="email" class="form-control" id="exampleInputEmail" placeholder="اكتب ايميلك هنا ..">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPhone" class="webinty_arabic_font">رقم تليفونك :</label>
                        <input type="number" class="form-control" id="exampleInputPhone" placeholder="اكتب رقم التليفون ..">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMessage" class="webinty_arabic_font">الرسالة :</label>
                        <textarea class="form-control" id="exampleInputMessage" placeholder="اكتب رسالتلك هنا .." rows="10"></textarea>
                    </div>
                    <button type="submit" class="main_button color1 large_btn bottom_space webinty_arabic_font">إرسال</button>
                </form>
            </div><!-- Grid -->

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/contact_us_welcome.jpg" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->









