<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >تصميم موقع شركه اثاث</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع شركه اثاث</a>
        </div>
    </div>
</section>
<!-- End Page Title -->



<!-- Services Intro -->
<section class="content_section">
    <div class="content row_spacer no_padding">
        <div class="rows_container clearfix">

            <div class="col-md-4">
                <span class="spacer30"></span>
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/furniture_website_design.jpg" alt="Image Title">
            </div>

            <div class="col-md-8">
                <h2 class="title1 upper webinty_arabic_font">تصميم موقع شركة أثاث أو ديكورات داخلية</h2>
                <p class="webinty_arabic_font">عرض تصميم موقع اثاث، يشمل العرض تصميم موقع كامل ٥ صفحات متوافق مع الموبايل والكمبيوتر والتابلت، وخطة استضافة ٥ جيجا على أفضل الخوادم الأمريكية عالية الكفاءة، بالاضافة الى حجز اسم النطاق</p>
                <br>
                <p class="webinty_arabic_font">لشركات الاثاث عرض تصميم موقع متخصص لشركات الاثاث، لدينا خبرة كبيرة في عمل مواقع الانترنت لمختلف الشركة في مختلف المجالات، واليوم نقدم عرض خاص ومتخصص لشركات الاثاث يشمل هذا العرض تصميم موقع انترنت مخصوص لشركات نقل الاثاث، وخطة استضافة المواقع على افضل الخوادم الامريكية، وحجز الدومين، والموقع متوافق مع محركات البحث لسهولة ظهوره في نتائج متقدمة بمحرك البحث جوجل.</p>
            </div>

        </div>
    </div>
</section>
<!-- End Services Intro -->



<!-- Accordion -->
<section class="content_section ">
    <div class="content row_spacer clearfix">
        <div class="col-md-6">
            <div class="main_title upper small">
                <h2 class="webinty_arabic_font"><span class="line"><span class="dot"></span></span>طرق الحجز</h2>
            </div>

            <span class="intro_text webinty_arabic_font">- يمكنك الدفع عن طريق الفيزا أو البريد المصري أو فودافون كاش أو بيبال أو تحصيل من مقر الشركة أو اترك بياناتك للحجز معنا</span>
            <h3 class="webinty_arabic_font">اتصل بنا او املأ استمارة الحجز الآن:</h3>

            <div>
                <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">احجز الان</span><i class="in_right ico-like"></i></span></a>
                <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
            </div>


        </div>
        <!-- End col-md-6 -->

        <div class="col-md-6">
            <div class="main_title upper small">
                <h2 class="webinty_arabic_font"><span class="line"><span class="dot"></span></span>مواصفات وتفاصيل</h2>
            </div>
            <span class="intro_text webinty_arabic_font">- مواصفات تصميم موقع لشركات الاثاث والديكورات  : </span>
            <!-- Tabs Container -->
            <div class="hm-tabs simple_tabs">
                <ul class="tabs-body">
                    <li data-content="desc" class="selected">
                        <ul class="list1 listfullcols clearfix">
                            <li class="webinty_arabic_font">تصميم موقع انترنت مخصوص لشركات الاثاث مكون من ٥ صفحات.</li>
                            <li class="webinty_arabic_font">صفحة رئيسية تحتوي على سلايدر صور لنقل الاثاث.</li>
                            <li class="webinty_arabic_font">صفحة التعريف بالشركة.</li>
                            <li class="webinty_arabic_font">صفحة عرض الخدمات / المنتجات</li>
                            <li class="webinty_arabic_font">صفحة لعرض سابقة الأعمال أو قائمة العملاء، أو نماذج الأعمال (حسب الاختيار)</li>
                            <li class="webinty_arabic_font">صفحة اتصل بنا - تحتوي على نموذج اتصال عند ملئه يتم ارسال البيانات الى عنوان بريد الكتروني من اختيارك</li>
                            <li class="webinty_arabic_font">التصميم متوافق مع كافة اجهزة الموبايل والتابلت والكمبيوتر واللابتوب.</li>
                            <li class="webinty_arabic_font">الموقع يتم تصميمه بشكل متوافق مع جوجل لسهولة الوصول الى نتائج متقدمة في صفحات البحث في جوجل.</li>
                            <li class="webinty_arabic_font">حجز اسم الدومين .com , .net , .org</li>
                            <li class="webinty_arabic_font">خطة الاستضافة رقم 1 (5 جيجا + 50 ايميل) - على سيرفرات امريكية لضمان السرعة والكفاءة</li>
                            <li class="webinty_arabic_font">شهادة SSL لتأمين الموقع.</li>
                            <li class="webinty_arabic_font">يتم تصميم الموقع خلال 7 أيام عمل من يوم استلام الداتا الخاصة بالموقع كاملة.</li>
                            <li class="webinty_arabic_font">التجديد السنوي: 1000 جنية (300ج تجديد الدومين + 700ج تجديد خطة الاستضافة رقم #1)</li>
                        </ul>
                    </li>
                </ul><!-- Tabs Content -->
            </div>
            <!-- Tabs Container -->
        </div>
        <!-- End col-md-6 -->
    </div>
</section>
<!-- End Accordion -->





<section class="content_section">
    <div class="content row_spacer">


        <h2 class="title1 centered upper webinty_arabic_font">تصميم موقع شركة أثاث أو ديكورات داخلية</h2>
        <span class="description2 centered webinty_arabic_font">نقوم بتصميم مواقع شركات الأثاث والديكورات – مواقع شركات أعمال فريدة من نوعها مع العديد من المميزات تجد فيها كل ما تحتاجه لإطلاق موقع شركة أثاث أو ديكورات داخلية </span>

    </div>
</section>




<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">اطلب الان تصميم موقع اثاث بمواصفات خاصة</h3>
        <span class="intro_text webinty_arabic_font">نحن متخصصون فى تصميم هوية العلامات التجارية للمساعدة فى توصيل شعار التصاميم الإبداعية و تصاميم الهوية المؤسسية للمعاير المهنية. يمكنك الحصول على علامة تجارية معترف بها و مضمونة و متميزة فقط من خلال شركة ويب ينتي.
اذا كنت تريد هوية لشركتك بمواصفات خاصة ، سوف يتم دراسة المواصفات المطلوبة و حساب التكلفة بناء علي طلب العميل ، برجاء التواصل معنا لارسال عرض سعر وكتابة عقد رسمي </span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
