<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Important stuff for SEO, don't neglect. (And don't dupicate values across your site!) -->
    <title><?php echo $pageTitle; ?></title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />

    <!-- Don't forget to set your site up: http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />
    <meta name="Copyright" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <!-- whats app icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <!-- End whats app icon -->


    <!-- Font Noto Kufi Arabic -->
    <link href="https://fonts.googleapis.com/earlyaccess/notokufiarabic.css" rel="stylesheet" type="text/css" />

    <!-- Use Iconifyer to generate all the favicons and touch icons you need: http://iconifier.net -->
    <link rel="shortcut icon" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-152x152.png" />

    <!-- concatenate and minify for production -->
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/webinty.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/rainbow-pricing-table.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/rtl.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/settings.css" media="screen" />
    <!-- bootstrap css files -->
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/bootstrap.css" type="text/css" media="all" />

    <!-- end bootstrap files -->
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/animate.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/magnific-popup.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/icon-fonts.css" type="text/css" media="all" />


</head>

<!-- Class ( site_boxed - dark - preloader1 - preloader2 - preloader3 - light_header - dark_sup_menu - menu_button_mode - transparent_header - header_on_side ) -->
<body class="preloader3 light_header">
<div id="preloader">
    <div class="spinner">
        <div class="sk-dot1"></div><div class="sk-dot2"></div>
        <div class="rect3"></div><div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div id="main_wrapper">
    <header id="site_header">
        <div class="topbar"><!-- class ( topbar_colored  ) -->
            <div class="content clearfix">

                <div class="top_details clearfix f_left">
                    <div class="languages-select languages-drop">
                        <span style="font-family: 'Noto Kufi Arabic', sans-serif;"><i class="ico-globe4"></i><span>العربيه</span></span>
                        <div class="languages-panel">
                            <ul class="languages-panel-con">
                                <li class="active"><a href="#"> &nbsp; العربيه <i class="ico-check lang_checked"></i></a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="top_login">
						<i class="icon ico-key3"></i><a class="" style="font-family: 'Noto Kufi Arabic', sans-serif;" href="<?php echo WEBINTY_PATH ; ?>admin_dashboard/">حسابي</a>
					</span>

                    <?php foreach($publicData as $public_info) { ?>
                    <span style="font-weight: bold"><i class="icon ico-phone5"></i><span class="title" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">اتصل بنا  : </span><?php echo $public_info['mobile_1']; ?> (002) </span>
                    <span style="font-weight: bold"><i class="icon ico-comment2"></i><span class="title" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif;">الدعم الفني :</span>  <?php echo $public_info['mobile_2']; ?> (002) </span>
                    <?php } ?>

                </div>

                <?php foreach ($publicData as $info) { ?>
                <div class="top-socials box_socials f_right">
                    <a href="<?php echo $info['public_info_facebook']; ?>" target="_blank">
                        <span class="soc_name">Facebook</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-facebook4"></i>
                    </a>
                    <a href="<?php echo $info['public_info_twitter']; ?>" target="_blank">
                        <span class="soc_name">Twitter</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-twitter4"></i>
                    </a>
                    <a href="<?php echo $info['public_info_googleplus']; ?>" target="_blank">
                        <span class="soc_name">Google+</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-google-plus"></i>
                    </a>
                    <a href="<?php echo $info['skype']; ?>">
                        <span class="soc_name">Skype</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-skype"></i>
                    </a>
                    <a href="<?php echo $info['public_info_linkedin']; ?>" target="_blank">
                        <span class="soc_name">LinkedIn</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-linkedin2"></i>
                    </a>
                    <a href="<?php echo $info['vimeo']; ?>" target="_blank">
                        <span class="soc_name">Vimeo</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-vimeo"></i>
                    </a>
                    <a href="<?php echo $info['blogger']; ?>" target="_blank">
                        <span class="soc_name">Blogger</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-blogger"></i>
                    </a>
                    <a href="<?php echo $info['wordpress']; ?>" target="_blank">
                        <span class="soc_name">WordPress</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-wordpress"></i>
                    </a>
                    <a href="<?php echo $info['instagram']; ?>" target="_blank">
                        <span class="soc_name">Instagram</span>
                        <span class="soc_icon_bg"></span>
                        <i class="ico-instagram"></i>
                    </a>
                </div>
                <?php } ?>

            </div>

            <!-- End content -->
            <span class="top_expande not_expanded">
				<i class="no_exp ico-angle-double-down"></i>
				<i class="exp ico-angle-double-up"></i>
			</span>
        </div>
        <!-- End topbar -->

        <div id="navigation_bar">
            <div class="content">
                <div id="logo">
                    <a href="<?php echo WEBINTY_AR_PATH; ?>">
                        <img class="logo_dark" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/logo-dark.png" alt="Enar Logo">
                        <img class="logo_light" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/logo-light.png" alt="Enar Logo">
                    </a>
                </div>

                <nav id="main_nav">
                    <div id="nav_menu">
						<span class="mobile_menu_trigger">
						    <a href="#" class="nav_trigger"><span></span></a>
						</span>
                        <ul id="navy" class="clearfix">
                            <li class="normal_menu mobile_menu_toggle current_page_item">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">الرئيسيه</span></a>

                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-website-design"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">تصميم مواقع</span></a>
                                <ul>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>corporate-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع شركه</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>eCommerce-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم متجر الكتروني</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>Medical-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع طبي</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>realestate-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع عقاري</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>travel-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع سياحي</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>magazine-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع إخباري</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>education-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع تعليمي</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>restaurant-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع مطعم</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>furniture-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع اثاث</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>transport-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع نقل</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>lawyer-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع محامي</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>training-center-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع لمركز تدريب</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>Landing-Page" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع صفحه واحده</a></li>
                                </ul>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">تسويق الكتروني</span></a>
                                <ul>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing/Google-Ads" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">اعلانات جوجل ادوردز </a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing/Facebook-Ads" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">اعلانات فيس بوك</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing/search-engine-optimization" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تهيئة المواقع لمحركات البحث</a></li>

                                </ul>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="#"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">الخدمات</span></a>
                                <ul>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-website-design" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم وبرمجه المواقع</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/programming-php-websites" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">برمجه مواقع خاصه php</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/web-hosting" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">استضافه المواقع</a></li>
                                    <li class="normal_menu"><a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تسويق الكتروني</a></li>

                                </ul>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>offers"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">العروض</span></a>
                                <ul>
                                    <?php foreach($offerCategories as $offerCategory) {  ?>
                                    <li class="normal_menu"><a style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" href="<?php echo WEBINTY_AR_PATH;  ?>offers/offer.php?categoryId=<?php echo $offerCategory['offer_category_id']; ?>"><?php echo $offerCategory['offer_category_name']; ?></a></li>
                                    <?php } ?>
                                </ul>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href=""><span style="font-family: 'Noto Kufi Arabic', sans-serif;">شروحات ومقالات</span></a>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>about-us"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">من نحن</span></a>
                                <ul>
                                    <li class="normal_menu"><a style="font-weight:bold;font-family: 'Noto Kufi Arabic', sans-serif;" href="<?php echo WEBINTY_AR_PATH;  ?>about-us">عن الشركة</a></li>
                                    <li class="normal_menu"><a style="font-weight:bold;font-family: 'Noto Kufi Arabic', sans-serif;" href="<?php echo WEBINTY_AR_PATH;  ?>our-team">فريق العمل</a></li>
                                </ul>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>contact-us"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">اتصل بنا</span></a>
                            </li>

                            <li class="normal_menu mobile_menu_toggle">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>FAQ"><span style="font-family: 'Noto Kufi Arabic', sans-serif;">الاسئلة الشائعة</span></a>
                            </li>

                        </ul>
                    </div>
                </nav>
                <!-- End Nav -->

                <div class="clear"></div>
            </div>
        </div>
    </header>
    <!-- End Main Header -->
