<section class="content_section bg_gray">
    <div class="content row_spacer no_padding">
        <div class="main_title centered upper">
            <h2 style="font-family: 'Noto Kufi Arabic', sans-serif;"><span class="line"><i class="ico-layers2"></i></span>خدمات ويب ينتي</h2>
        </div>

        <div class="main_desc half_desc centered">
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">خدمات ويب ينتي للافراد والشركات</p>
        </div>
        <span class="spacer30"></span>
        <br/><br/>

        <div class="icon_boxes_con style2 upper_title solid_icon clearfix">
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-code2"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">تصميم وبرمجه المواقع</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-line-chart"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">التسويق الالكتروني</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-shopping-cart2"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">تصميم وبرمجه المتاجر الالكترونيه</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-mobile2"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">تصميم تطبيقات الموبايل</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-video3"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">فيديو موشن جرافيك</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-building-o"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">تصميم الهويات التجاريه</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-file-code-o"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">البرمجه الخاصه</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-gears2"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">اداره محتوي المواقع</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-pie-chart"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">خدمه تطوير الاعمال</a></h3>
                        <span class="desc">There are many variations of demo text passed sages of Lorem Ipsum available the majority There are many variations of demo.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>



<!-- Section 1 -->
<section class="content_section white_section bg_header4 img_con_cov">

    <div class="full_con clearfix">
        <div class="half_full_con bg_color10 row_spacer f_left">
            <div class="main_title upper no_line">
                <h2 style="font-family: 'Noto Kufi Arabic', sans-serif;">تهيئه المواقع لمحركات البحث (سيو SEO)</h2>
            </div>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;"> في قسم تهيئة المواقع لمحركات البحث نعمل على تطوير وتهيئة موقعك الإلكتروني لمحركات البحث حيث نستلم الموقع الإلكتروني ويعمل في البداية فريق عمل الـ SEO على تحديد مهام فريق البرمجة في الموقع لكي يقوم بتنفيذ هذه المهام مما يجعل الموقع أكثر تهيئة وسهولة ومُناسبة لمُحركات البحث. <br/> <br/>  يأتي بعد ذلك تحديد الكلمات المُفتاحية والعمل على إختيارها بدقة وتوظيفها في الموقع بشكل يُساعد على ظهور الموقع في محركات البحث.<br></p>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;"> نقوم بتحديد فترة الوصول للصفحات الأولى والمُنافسة على النتيجة الأولى في خلال مُدة مُعينة تتوقف على صعوبة الكلمة. </p>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;"> نلتزم بحصولك على زوار مُستهدفين من خلال مُحركات البحث و نقوم بكتابة المُحتوى المُناسب للزائر وأيضًا لمُحركات البحث وخاصة جوجل.</p>
            <span class="spacer30"></span>



            <div>
                <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
                <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
            </div>

            <!-- <div class="prog_bar2_con">
                <span class="title"><i class="ico-laptop2"></i><span class="prog_bar2_title">Web Design</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="80" data-progress-animation="easeOutQuad" data-progress-delay="300" data-progress-color="#0BACB8">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div class="prog_bar2_con">
                <span class="title"><i class="ico-code2"></i><span class="prog_bar2_title">Programming</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="60" data-progress-animation="easeOutQuad" data-progress-delay="600" data-progress-color="#B97FDB">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div class="prog_bar2_con">
                <span class="title"><i class="ico-heart2"></i><span class="prog_bar2_title">HTML/CSS</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="70" data-progress-animation="easeOutQuad" data-progress-delay="900" data-progress-color="">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div class="prog_bar2_con">
                <span class="title"><i class="ico-search42"></i><span class="prog_bar2_title">Wordpress</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="100" data-progress-animation="easeOutQuad" data-progress-delay="1200" data-progress-color="#00BC90">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- End Section  1 -->


<!-- Section 2 -->
<section class="content_section white_section bg_header4 img_con_cov">
    <span class="section_icon"></span>
    <div class="full_con clearfix">
        <div class="half_full_con bg_color12 row_spacer f_right">
            <div class="main_title upper no_line">
                <h2 style="font-family: 'Noto Kufi Arabic', sans-serif;">التسويق عبر المواقع الاجتماعية ( Social Media )</h2>
            </div>

            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">في قسم التسويق عبر المواقع الإجتماعية نقوم بإدارة ومُتابعة صفحات التواصل الإجتماعي الخاصة بشركة العميل على كافة المنصات الإجتماعية من فيسبوك، تويتر، انستجرام، بنترست، لينكدان، وغيرها من المواقع الإجتماعية التي يحتاجها العميل حسب الفئة المُستهدفة.</p><br>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">نعمل أيضًا على ادارة الحملات الاعلانية على مواقع التواصل الاجتماعي ومن أهمها حملات الفسيبوك وتويتر ونضمن لك تحقيق أعلى ربح من خلال أقل مصاريف.</p><br>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">نعمل على نشر العلامة التجارية الخاصة بك من خلال كافة وسائل التواصل بالإضافة للمُحتوى على المدونات والموقع الرسمي.</p><br>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">من خلال الادارة المُتميزة لصفحات التواصل الاجتماعي ( Social Media ) سوف تستطيع كسب عُملاء كل يوم من خلال افضل ادارة صفحات وحملات اعلانية.</p>
            <br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <h4 style="text-align: center"> Instgram &nbsp; <i class="ico-instagram3" style="font-size: 40px;vertical-align: middle"></i></h4>
                    <p style="font-family: 'Noto Kufi Arabic', sans-serif; text-align: center;font-weight: bold">ادارة صفحات <br/>وحملات الانستجرام</p>
                </div>
                <div class="col-md-4">
                    <h4 style="text-align: center"> Twitter  &nbsp; <i class="ico-twitter" style="font-size: 40px;vertical-align: middle"></i></h4>
                    <p style="font-family: 'Noto Kufi Arabic', sans-serif; text-align: center;font-weight: bold">ادارة صفحات <br/>وحملات تويتر</p>
                </div>
                <div class="col-md-4">
                    <h4 style="text-align: center;"> Facebook &nbsp; <i class="ico-facebook2" style="font-size: 40px;vertical-align: middle"></i></h4>
                    <p style="font-family: 'Noto Kufi Arabic', sans-serif; text-align: center;font-weight: bold">ادارة صفحات <br/>واعلانات فيس بوك</p>
                </div>
            </div>
            <br/><br/>
            <div>
                <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
                <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
            </div>
        </div>
    </div>
</section>
<!-- End Section 2 -->


<!-- Section 3 -->
<section class="content_section white_section bg_header4 img_con_cov">

    <div class="full_con clearfix">
        <div class="half_full_con bg_color10 row_spacer f_left">
            <div class="main_title upper no_line">
                <h2 style="font-family: 'Noto Kufi Arabic', sans-serif;">ادارة الحملات الاعلانية (Google Adwords) </h2>
            </div>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">عملنا في شركة تسويق الكتروني Webinty على تكوين قسم مُتخصص في ادارة حملات جوجل ادواردذ الإعلانيه ( Google Adwords ) وحرصنا على أن يكون فيه أفضل الكفاءات المُعتمدة من شركة جوجل حتى نستطيع أن نُلبي كل رغباتك في النجاح والوصول للعُملاء المُستهدفين.<br></p><br/>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">تبدأ الحملة الإعلانية بتحديد الفئة التي يسعى العميل للوصول إليها وذلك طبقًا لطبيعة المُنتج أو الخدمة التي يُقدمها وبعدها يتم تحديد الميزانية التي يحتاج العميل لصرفها خلال الحملة الإعلانية. </p><br/>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">نصل في النهاية لحصول العميل على زوار مُستهدفين لموقعه وتحقيق العائد المُناسب بعد إتمام الحملات الإعلانية على منصة Google Adwords بُمختلف أنواعها.</p><br/>
            <p style="font-family: 'Noto Kufi Arabic', sans-serif;">نجاح الحملة على منصة جوجل يعني أنك حصلت على زيارة مُستهدفة تعود عليك بالربح بأقل سعر مُناسب مع تحقيق الشهرة من خلال ظهورك على محركات البحث أو في مواقع Google partner.</p>
            <span class="spacer30"></span>



            <div>
                <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
                <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
            </div>

            <!-- <div class="prog_bar2_con">
                <span class="title"><i class="ico-laptop2"></i><span class="prog_bar2_title">Web Design</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="80" data-progress-animation="easeOutQuad" data-progress-delay="300" data-progress-color="#0BACB8">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div class="prog_bar2_con">
                <span class="title"><i class="ico-code2"></i><span class="prog_bar2_title">Programming</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="60" data-progress-animation="easeOutQuad" data-progress-delay="600" data-progress-color="#B97FDB">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div class="prog_bar2_con">
                <span class="title"><i class="ico-heart2"></i><span class="prog_bar2_title">HTML/CSS</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="70" data-progress-animation="easeOutQuad" data-progress-delay="900" data-progress-color="">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div class="prog_bar2_con">
                <span class="title"><i class="ico-search42"></i><span class="prog_bar2_title">Wordpress</span></span>
                <div class="progress_bar prog_bar2" data-progress-val="100" data-progress-animation="easeOutQuad" data-progress-delay="1200" data-progress-color="#00BC90">
                    <div class="fill_con2">
                        <div class="fill">
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                    <div class="fill_con">
                        <div class="fill"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- End Section  3 -->




<!-- Icon Boxes Style 2 B -->
<section class="content_section bg_gray">
    <div class="container icons_spacer ">
        <!-- <div class="main_title centered upper">
            <h2><span class="line"><span class="dot"></span></span>About Enar</h2>
        </div> -->
        <div class="main_title centered upper">
            <h2 style="font-family: 'Noto Kufi Arabic', sans-serif;"><span class="line"><span class="dot"></span></span>برمجة وتصميم المواقع وتصميم المتاجر الالكترونية</h2>
        </div>
        <br/><br/>
        <div class="icon_boxes_con style2 upper_title solid_icon clearfix">
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-code2"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">حلول مختلفة وامكانيات لا متناهية</a></h3>
                        <span class="desc" style="font-family: 'Noto Kufi Arabic', sans-serif;"> نعتمد في <a href="<?php echo WEBINTY_AR_PATH; ?>">Webinty</a> على العديد من الحلول والمنصات المختلفة لبرمجة المواقع والتطبيقات بأحدث الوسائل البرمجية واكثرها أمناً.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-paint-brush"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">تصاميم رائعة تواكب العصر</a></h3>
                        <span class="desc" style="font-family: 'Noto Kufi Arabic', sans-serif;">لابد من ظهور موقعك بشكل رائع يواكب العصر امام الزوار والمستخدمين حتى تترك انطباع جيد يعزز من جودة علامتك التجارية ، <a href="<?php echo WEBINTY_AR_PATH; ?>">Webinty</a> ستضمن لك ذلك.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_box">
                    <span class="icon circle"><i class="ico-devices"></i></span>
                    <div class="service_box_con">
                        <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;"><a href="#">موقعك متجاوب على مختلف الشاشات</a></h3>
                        <span class="desc" style="font-family: 'Noto Kufi Arabic', sans-serif;"> نعتقد في <a href="<?php echo WEBINTY_AR_PATH; ?>">Webinty</a> ان الموقع الجيد يترك تجربة استخدام رائعة لدى الزوار والمستخدمين، وذلك لأن تجربة المستخدم الجيدة هى الهدف الاول لنجاح موقعك. </span>
                    </div>
                </div>
            </div>
            <div class="rows_container clearfix">
                <div class="col-md-12">
                    <h2 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif;">خطوات تصميم موقع على الانترنت</h2>
                    <p style="font-family: 'Noto Kufi Arabic', sans-serif;">نقوم في شركة تصميم مواقع على تطوير وبرمجة العديد من المواقع الالكترونية حيث نقوم في البداية بمعرفة المعلومات الأساسية حول النشاط الخاص بالعميل والموقع الجديد، ثم يتم تكوين فكرة الموقع وشكله بناءًا على هذه المعلومات ويتم ارسالها للعميل.</p><br/>
                    <p style="font-family: 'Noto Kufi Arabic', sans-serif;">وبعد أن تتم موافقة العميل على التصور الذي تم ارساله يتم البدء في تطوير وبرمجة الموقع، المتجر الالكتروني، أو التطبيق و في خلال فترة العمل وبعد الوصول لمرحلة مُتقدمة من برمجة الموقع الالكتروني يتم اطلاع العميل على ما تم انجازه، وإذا كان هناك أي تعديلات يتم العمل عليها حتى الوصول للشكل النهائي للموقع، المتجر، التطبيق.</p><br/>
                    <p style="font-family: 'Noto Kufi Arabic', sans-serif;">ثم يتم تسليم العميل الموقع بعد إتمام تصميه وبرمجته بالشكل الذي يتمناه العميل.</p>
                    <span class="spacer30"></span>
                    <div>
                        <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                    <span class="spacer30"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Boxes Style 2 B -->



<!-- Skills 2 -->
<section class="content_section white_section bg_color5">
    <span class="section_icon"><i class="ico-strategy"></i></span>
    <div class="content row_spacer no_padding">
        <div class="main_title centered upper">
            <h2 style="font-family: 'Noto Kufi Arabic', sans-serif;"><span class="line"><span class="dot"></span></span>شركة تسويق الكتروني</h2>
        </div>

        <div class="rows_container clearfix">
            <div class="col-md-12">
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;"> تعمل افضل <a href="">شركة تسويق الكتروني</a> Webinty على تقديم أفضل خدمات التسويق الالكتروني من سيو، سوشيال ميديا، حملات اعلانية الكترونية وغيرها من طرق شركة التسويق الالكتروني وذلك من خلال مجموعة مُتميزة من خبراء التسويق والذين لديهم خبرة سنوات في الخدمات الإلكترونية المُتكاملة للعديد من الشركات في مصر، السعودية، قطر والعديد من الدول العربية الأخرى، ونظرًا لخبرة فريق العمل وشُهرته فقد إحتلت شركتنا مكانة مُمتازة بين شركات التسويق الالكتروني.</p><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;">تُعتبر شركتنا افضل شركة تسويق الكتروني في المنطقة العربية حيث نعمل على تقديم كافة خدمات شركات التسويق الالكتروني من خلالنا بأسرع وقت وأعلى جودة حيث لا يؤثر عامل الوقت على إتقان العمل حيث نعمل بكل كفاءة على توفير أفضل الأسعار في هذا المجال من حيث تسويق المواقع الالكترونية من خلال حملات التسويق الالكتروني المدفوعة على إعلانات جوجل أو من خلال التسويق بتهيئة المواقع لمحركات البحث فيما يُعرف بالسيو أو من خلال التسويق عبر المواقع الإجتماعية ( السوشيال ميديا ) مثل الفيسيبوك، تويتر، انستجرام، لينكدان وغيرها من منصات التواصل الإجتماعي.</p><br/>
                <h1 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif">مزايا افضل شركة تسويق الكتروني <a href="<?php echo WEBINTY_AR_PATH; ?>" > ويب ينتي </a></h1>
                <ul style="list-style-type:disc;padding-right: 30px">
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif">نقوم بعمل دراسة لمشروعك أو المُنتج الخاص وعمل خطة التسويق الالكتروني بما يتناسب مع مشروعك وحجم النفقات التي يُمكن أن تُنفقها.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">نختار القناة الأفضل لتسويق مشروعك أن كان موقع الكتروني بتهيئته وعمل حملات إعلانيه له أو من خلال صفحات التواصل الإجتماعي.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">يتم التنسيق مع قسم تصميم المواقع لإختيار الشكل المُناسب للموقع وتهيئته للتسويق.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">نقوم بإستهداف افضل كلمات مُفتاحية مُناسبة للموقع تعود عليك بالزوار والأرباح لأننا نتبع إستراتيجيات حديثة في تهيئة المواقع بما يجعلك تربح من موقعك بأفضل الطرق.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">استهداف الشريحة المُناسبة لمُنتجاتك من خلال التسويق لها على أفضل المنصات وبأفضل الإستراتيجيات التي لا تُكلفك كثيرًا.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">نقوم بالتوفيق بين إحتياجات حملة التسويق الإلكتروني وبين ما يُمكن والنفقات التي يُمكن صرفها على الحملة لكي تحصل على أفضل سعر بأعلى جودة.</li><br/>
                </ul>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;">تميز عن الجميع من خلال فتح أسواق جديدة لك في النطاق المحلي والنطاق العالمي من خلال عمل موقع الكتروني تعرض عليه خدماتك ومُنتجاتك والعمل على تسويقه من خلال أفضل شركة تسويق الكتروني.</p><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;">تتعدد طرق التسويق الالكتروني من خلال شركةeMarketingoلكي تُناسب كل العُملاء فلدينا التسويق من خلال المواقع الإجتماعية ولدينا التسويق من خلال محركات البحث وأيضًا لدينا التسويق عن طريق حملات الواتساب والبريد الإلكتروني وهناك الحملات المدفوعة على منصة جوجل وغيرها من طرق التسويق الذكية والتي نعمل فيها بكل إحترافية تضمن لك جودة العمل.</p><br/>
                <h1 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif">افضل شركة تسويق الكتروني في مصر</h1>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">نُعتبر أفضل شركة تسويق الكتروني في لما حققناه من نجاح في فترة وجيزة في مجال التسويق الرقمي حيث أن نعمل بطريقة احترافية في مسك الكلمات في محركات البحث ، <a href="">ادارة الحملات الاعلانية الالكترونية، </a> السوشيال ميديا، والحملات البريدية والواتساب وغيرها من طرق التسويق الالكتروني، نسعى دائمًا لتعلم كل ما هو جديد فنحن نعلم جيدًا أن علم التسويق الرقمي يتطور بإستمرار وكل يوم هناك تحديثات جديدة في محركات البحث أو مواقع التواصل الإجتماعي وغيرها من المنصات لهذا نعمل على الإطلاع على كل ما هو جديد أو أي تحديث جديد لكي نضمن لك كفاءة العملية التسويقية التي نقوم بها.</p> <br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">نعمل وفق منهجية مُتطورة جدًا في تسويق المواقع أو التسويق للشركات والمؤسسات الكبيرة والصغيرة حيث لدى فريق العمل لدينا أسرار النجاح في التسويق للشركات والأفراد نتيجة خبرات مُتراكمة من خلال الأعمال التي تم العمل عليها لفترات كبيرة ونعمل في شركة تسويق الكتروني على تطوير أداء العاملين لدينا من خلال التدريب على كل ما هو جديد في المجال ومعرفة التحديثات التي تحدث بشكل يومي وإطلاع المُشرفين ومُديري الأقسام لكي يتم توضيح أي تحديث لفريق عمل الشركة.</p><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">نعلم عزيزي العميل أنك قد بحثت كثيرًا حتى تحصل على خدمات افضل شركة تسويق الكتروني في مصر والعالم العربي وتسعى لكي تحصل على خبرات مُسوقين تُفيدك في أعمالك وتطوير شركتك وانتشارها على النطاق المحلي أو النطاق العالمي لهذا نحن في <strong>Webinty</strong> نعمل على استخدام أحدث طرق الإستهداف السليمة للعملاء الجُدد وذلك لكي تحصل على ما تُريد بأقل تكلفة.</p><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">إذا كنت تُريد أن يصل إليك العميل كما وصلت لنا اليوم فليس عليك سوى الإعتماد على خبرائنا في كافة مجالات التسويق الالكتروني لكي تنمو وتزدهر شركتك كما تنمو شركتنا في هذا المجال، فإذا كنت حريصًا على تكون مُتميزًا فلن يتحقق هذا بدون خدماتنا الخاصة بالتسويق على الانترنت.</p><br/>
                <h1 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif">خطوات الوصول للعملاء من خلال التسويق الالكتروني</h1>
                <ul style="list-style-type:disc;padding-right: 30px">
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif">دراسة المُنتج والسوق المُستهدف والمُنافسين على محركات البحث وعلى مواقع التواصل الإجتماعي.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">في البداية يجب الإستقرار على شكل الموقع الالكتروني الخاص بك والبدء في العمل عليه حتى يُصبح هناك مكان الكتروني لشركتك أو مُنتجاتك على شبكة الانترنت.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">العمل على تحديد ميزانية بناء الموقع وميزانية التسويق الالكتروني للموقع والنفقات التي يحتاجها حتى يبدأ في تحقيق نتائج.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">بدء العمل على التسويق من خلال افضل شركة تسويق الكتروني من خلال كافة القنوات التسويقية على الانترنت من مواقع تواصل ومحركات بحث ومُنتديات وغيرها.</li><br/>
                </ul><br/>
                <h1 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif">تطور الانترنت وزيادة إستخدامه وأهمية التواجد اونلاين أو على الانترنت</h1>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">نتيجة للتطور المُستمر الذي نمر به في حياتنا اليومية وخاصة الانترنت اصبح مُستخدمي الانترنت في زيادة كبيرة حيث يدخل الانترنت في حياة الكثيرين فهناك من يسخدمه بغرض البحث عن معلومات تخصه أو البحث عن مُنتجات وهناك من يتواصل مع أصدقاءه من خلال هذه الشبكة على أي من منصاتها.</p><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">ولكي تستفيد عزيزي العميل فعليك أن تصل لهؤلاء العُملاء المُستهدفين في الأماكن التي يتواجدون بها على منصات التواصل الإجتماعي، المواقع الالكترونية، مُحركات البحث، الإيميلات، الواتساب وغيرها ويتم استخدام طرق التسويق المُختلفة للوصول لكل هذه الأماكن.</p><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">خطة التسويق الالكتروني نقوم بتنفيذها بناءًا على دراسة المُنتج الذي سوف يتم التسويق له على الانترنت حيث يتم دراسة مُستهلكي هذا المُنتج وأين يبحثون عنه أو أين يتواجدون وبعد الدراسة الصحيحة التي تعتمد على أدوات عالمية في البحث وفحص الكلمات وبناءًا على خبرات فريق عمل افضل شركة تسويق الكتروني في مصر يتم تحديد خطة العمل وعلى أي منصة سيتم التسويق للمُنتج وكم التكلفة للتسويق وغيرها من العناصر الأساسية في عملية التسويق الإلكتروني.</p>
                <h1 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif">عندما تقوم بالتواصل مع افضل شركة تسويق الكتروني تكون قد حصلت على العديد من المُميزات من أهمها</h1>
                <ul style="list-style-type:disc;padding-right: 30px">
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif">عمل دراسة الكترونية للمُنتج والمُستهلك الذي تسعى للوصول إليه.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">دراسة المُنافسين على الانترنت والعمل على تحديد نقاط القوة والضعف لديهم والعمل على تقوية جانب الشركة وتعويض نقاط الضعف لديهم وجعلها نقاط قوة لدى شركتك.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">تحديد ميزانية أقل بالمقارنة بالتسويق التقليدي الذي لا يكون فيه استهداف جيد للشريحة المُستهدفة.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">الوصول للجمهور المُستهدف أيًا كان مكانه في أي دولة أو قارة.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">توضيح كل المُميزات التي تتميز بها مُنتجاتك أو خدماتك من خلال الإعلانات المدفوعة أو وصف واضح لها على الموقع وصفحات التواصل الإجتماعي.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">إمكانية تواصل العملاء معك على مدار 24 ساعة من خلال فرع شركتك الدائم على الانترنت وهو موقعك الإلكتروني.</li><br/>
                    <li style="font-family: 'Noto Kufi Arabic', sans-serif;">فريق عمل مُتميز من المُسوقين سوف يكون في خدمتك على مدار اليوم.</li><br/>
                </ul><br/>
                <p style="font-family: 'Noto Kufi Arabic', sans-serif;line-height: 200%">والآن ولكي تحصل على كل ما تُريد من خدمات الكترونية مُتكاملة ليس عليك سوى أن تتواصل معنا في <strong>افضل شركة تسويق الكتروني في مصر</strong> والعالم العربي فنحن نُقدم أفضل خدمات التسويق بكل أنواعها ونُتابع كل التطورات التي تحدث في عالم التسويق الإلكتروني لكي نضمن لك خدمة ذات جودة عالية ومضمونة من  افضل <strong>شركة تسويق. </strong></p><br/>
                <h1 class="title1 upper" style="font-family: 'Noto Kufi Arabic', sans-serif">تقييم الخدمه</h1>
                <div class="progress_bar" data-progress-val="95" data-progress-animation="easeOutQuad" data-progress-delay="300" data-progress-color="#0BACB8">
                    <div class="fill_con">
                        <div class="fill">
                            <strong class="title" style="font-family: 'Noto Kufi Arabic', sans-serif">جوده التنفيذ</strong>
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                </div>
                <div class="progress_bar" data-progress-val="98" data-progress-animation="easeOutQuad" data-progress-delay="300" data-progress-color="#0BACB8">
                    <div class="fill_con">
                        <div class="fill">
                            <strong class="title" style="font-family: 'Noto Kufi Arabic', sans-serif">فريق العمل</strong>
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                </div>
                <div class="progress_bar" data-progress-val="97" data-progress-animation="easeOutQuad" data-progress-delay="300" data-progress-color="#0BACB8">
                    <div class="fill_con">
                        <div class="fill">
                            <strong class="title" style="font-family: 'Noto Kufi Arabic', sans-serif">تحقيق الاهداف</strong>
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                </div>
                <div class="progress_bar" data-progress-val="96" data-progress-animation="easeOutQuad" data-progress-delay="300" data-progress-color="#0BACB8">
                    <div class="fill_con">
                        <div class="fill">
                            <strong class="title" style="font-family: 'Noto Kufi Arabic', sans-serif">سعر الخدمه</strong>
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                </div>
                <div class="progress_bar" data-progress-val="97" data-progress-animation="easeOutQuad" data-progress-delay="1500" data-progress-color="#E74C3C">
                    <div class="fill_con">
                        <div class="fill">
                            <strong class="title" style="font-family: 'Noto Kufi Arabic', sans-serif">افضل خدمه تسويق الكتروني</strong>
                            <span class="value"><span class="num"></span><span>%</span></span>
                        </div>
                    </div>
                </div>
            </div><!-- Grid 6 -->

        </div>
    </div>
</section>
<!-- End Skills 2 -->


<!-- Intro Banner -->
<section class="content_section">

    <div class="welcome_banner classic_white centered">
        <div class="content clearfix">
            <h3 style="font-family: 'Noto Kufi Arabic', sans-serif;">اتصل بنا فنحن الأفضل من حيث التطوير ومواكبة كافة التحديثات والنجاح في التسويق الالكتروني</h3>
            <span class="intro_text" style="font-family: 'Noto Kufi Arabic', sans-serif;">هل تريد الاستفسار عن احد الخدمات التي نقدمها في ويب ينتي قم بالإتصال بنا وسيقوم احد ممثلي خدمة العملاء بالرد على كافة استفساراتكم على مدار الساعه</span>
            <div>
                <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
                <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
            </div>
        </div>
    </div>

</section>
<!-- End Intro Banner -->



















