<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >خدمات استضافة المواقع </h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="#" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الخدمات</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >استضافة المواقع</span>
        </div>
    </div>
</section>
<!-- End Page Title -->




<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>استضافة المواقع</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font">أفضل خطط استضافة عالية الكفاءة وأفضل أسماء النطاقات المتاحة لضمان أقصى قدر من الأداء والفاعلية وبأسعار مناسبة</h2>
                <p class="webinty_arabic_font">ابدأ الان فى نقل اعمالك عبر الانترنت</p>
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">باقات متنوعة من خطط الاستضافة</li>
                                <li class="webinty_arabic_font">مخصصة خصيصاً لتناسب أنواع مختلفة من الأعمال والشركات</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">احجز استضافة موقعك الان</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_hosting1.png" alt="Image Title">
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/Hosting-Support.jpg" alt="Image Title">
            </div>


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">لا تفكر في إنقطاع موقعك الإلكتروني بعد الآن واشترك في باقة إستضافة فعالة من ويب ينتي!</h2>
                <p class="webinty_arabic_font">ليس من المزعج تلقي رسالة "يوجد خطأ" بإستمرار لدى عملائك أثناء تصفحهم موقعك الإلكتروني وازدياد شكواهم بسبب ذلك؟ لحسن الحظ، يمكن لشركة ويب ينتي أن تخلصك من ذلك للأبد. </p>
                <p class="webinty_arabic_font">توفر شركه ويب ينتي مجموعة متنوعة من باقات الإستضافة تتناسب مع إحتياجات كل شركة يمكن اختيار أنسب باقة لتلبية إحتياجات مؤسستك وعملائك وجعل الوصول إلى موقعك الإلكتروني في غاية السهولة. </p>
                <p class="webinty_arabic_font">ويب ينتي تقدم باقات مختلفة من خوادم الويب لتناسب عملائنا بمختلف تطلعاتهم وأهدافهم.</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left  ico-dollar"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">الباقات والاسعار</span><i class="in_right  ico-dollar"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->


<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2><span class="line"><span class="dot"></span></span>مميزات استضافه المواقع لدي شركه ويب ينتي ؟</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_hosting2.jpg" alt="Image Title">
            </div>
            <div class="col-md-6">

                <span class="intro_text webinty_arabic_font">- هناك العديد من المُميزات والخدمات المجانية التي تجعلك تختار شركة استضافة مواقع لكي تستضيف موقعك أو لكي تُنشىء لك موقعك الجديد ومن هذه المُميزات:</span>
                <!-- Tabs Container -->
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">حماية موقعك من أي هجمات فيروسية وهجمات الدوس وغيرها من المشاكل الفنية.</li>
                                <li class="webinty_arabic_font">شهادة حماية SSL لموقعك على استضافتنا.</li>
                                <li class="webinty_arabic_font">نوفر لك العديد من حسابات FTP لموقعك.</li>
                                <li class="webinty_arabic_font">نوفر لك نسخ احتياطية من موقعك على حسب احتياجك.</li>
                                <li class="webinty_arabic_font">استضافة سريعة جداً بالمقارنة مع أي استضافة أخرى.</li>
                                <li class="webinty_arabic_font">سرعة إستجابة عالية.</li>
                                <li class="webinty_arabic_font">حل جميع المشاكل الطارئة التي قد تحدث لموقعك.</li>
                                <li class="webinty_arabic_font">دعم فني على مدار الاسبوع.</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                </div>
                <!-- Tabs Container -->
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->



<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">نحن موجودون لمساعدتك في اي وقت</h3>
        <span class="intro_text webinty_arabic_font">قسم المبيعات في خدمتكم على مدار الساعة للرد على كافة الاستفسارات، وتنفيذ طلباتكم فيما نقدمه من خدمات وحلول.</span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تواصل معنا</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>