<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اعلانات الفيسبوك Facebook Ads</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="#" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الخدمات</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تسويق الكتروني</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اعلانات الفيسبوك Facebook Ads</span>
        </div>
    </div>
</section>
<!-- End Page Title -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>أعلِن على فيسبوك و ضاعف فرص نجاحك</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font">أعلِن عن مشروعك على الفيسبوك و حقق نجاحك</h2>
                <p class="webinty_arabic_font black_font">لدينا إدارة احترافية لحملتك الإعلانية على الفيسبوك من خلال فريق من الخبراء المحترفين فى التسويق على الفيس بوك يُمكنك من الوصول لجمهورك المستهدف. ونقدم أفكار رائعة لادارة اعلاناتك و تحقيق أفضل نتائج بأقل تكاليف و احظى بالمزيد من المبيعات وزيادة أرباحك.</p>
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">جذب الزوّار إلى موقعك الإلكتروني زيادة نسبة المبيعات والحجوزات والاشتراكات في القائمة البريدية باستخدام الإعلانات المعروضة على الإنترنت والتي تجذب الزوّار إلى موقعك الإلكتروني</li>
                                <li class="webinty_arabic_font">تلقّي المزيد من المكالمات الهاتفية تلقّي المزيد من المكالمات من العملاء بفضل إعلانات تتضمّن رقم هاتفك وزر للاتّصال</li>
                                <li class="webinty_arabic_font">زيادة عدد الزيارات إلى متجرك جذب المزيد من العملاء إلى متجرك باستخدام إعلانات تساعدهم في العثور على عنوان شركتك على الخريطة</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اعلن علي فيسبوك الان</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/facebook_ads.png" alt="Image Title">
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->



<!-- Icon Boxes Style 1 A -->
<section class="content_section">

    <div class="container icons_spacer icon_boxes_con style1 clearfix">
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="color2  ico-target4"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">تمكنك من الوصول للهدف المحدد</h3>
                    <span class="webinty_arabic_font">عند تحديد أهدافك واختيار جمهورك المستهدف بشكل صحيح، يظهر إعلانك للمهتمين بالخدمة أو المنتج الذى تقدمه فقط فيحقق أهدافك سواء كانت زيادة الوعى بعلامتك التجارية وانتشارها أو زيادة مبيعاتك وارباحك.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="color1  ico-coin-pound"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">أسعار مرنة لتناسب أي ميزانيه</h3>
                    <span class="webinty_arabic_font">حسب امكانياتك تحدد انت الميزانية الاعلانية وببساطة سوف تحصل على نتائج فى حدود الميزانية ومن الطبيعى كلما زادت الميزانية كلما زادت النتائج .</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="ico-global"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">اعلانات الفيسبوك تناسب كافه الانشطه والخدمات</h3>
                    <span class="webinty_arabic_font">تظهر اعلاناتك لجمهورك المستهدف حسب أهدافك الإعلانية وهنا ياتى دور خبرائنا فى تحسين نوعية الحملة والاستهداف السليم باحترافية للحصول على أفضل عائد من حملتك الاعلانية و بأقل تكاليف.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Boxes Style 1 A -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><i class=" ico-tree"></i></span>شاهد نجاح ونمو أعمالك وزيادة مبيعاتك!</h2>
            <span class="webinty_arabic_font description2 centered">ابدأ حملة اعلانية متميزة مع فريق عمل متميز و قم بتسويق منتجات وخدمات شركتك واحصل على أفضل النتائج على ايدى افضل خبراء التسويق و الإعلان !</span>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/facebook_ads.png" alt="Image Title">
            </div>

            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">متخصصون إدارة صفحات فيس بوك</h2>
                <p class="webinty_arabic_font">نقوم بدراسة النشاط التجاري الخاص بالشركة و الخدمة التي تقدمها وتحديد الشريحة المستهدفة الأكثر اهتماما بهذه الخدمة او المنتج و بالتالي الحصول على أعلي المبيعات بأقل تكلفة .</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">عروض اعلانات الفيس بوك </span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->






<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">نضع خطة إعلانية كاملة</h2>
                <p class="webinty_arabic_font">اضافة محتوى جذاب يتناسب مع ثقافة وعمر الفئة المستهدفة من قبل الإعلان، تصميم صور الإعلانات بشكل إحترافي لايصال الفكرة كاملة للعميل .ً</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اظهر لجمهورك الان</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/facebook_ads.png" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->







<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/facebook_ads.png" alt="Image Title">
            </div>


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">تابع نتائج حملتك بنفسك</h2>
                <p class="webinty_arabic_font">ادارة مستمرة للاعلانات طوال ايام الاسبوع، وتقديم تقارير اسبوعية عن الحملة الاعلانية وارسالها لك .</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">ابدأ حملتك الان وتابع النتائج بنفسك</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->



<!-- sales support section-->
<div class="welcome_banner boxed_colored centered container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">خطتنا لتسويق الفيسبوك تستهدف ِشريحة العملاء الأمثل لك وفقاً لنشاط شركتك وتصلك بالمزيد من الجمهور وتوسع دائرة أرباحك وتحقق أهدافك التجارية. ابدأ الآن إعلانات الفيسبوك.</h3>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">ابدأ اعلاناتك الان</span><i class="in_right ico-like"></i></span></a>
        </div>
    </div>
</div>
<!-- End sales support section-->



<!-- sales support section-->
<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">نحن موجودون لمساعدتك في اي وقت</h3>
        <span class="intro_text webinty_arabic_font">قسم المبيعات في خدمتكم على مدار الساعة للرد على كافة الاستفسارات، وتنفيذ طلباتكم فيما نقدمه من خدمات وحلول.</span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تواصل معنا</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
<!-- End sales support section-->