<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >التسويق الكتروني</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="#" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الخدمات</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" > تنفيذ وادارة حملات تسويق الكتروني على الانترنت</span>
        </div>
    </div>
</section>
<!-- End Page Title -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>التسويق الالكتروني</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font">التسويق الإلكتروني كما يجب أن يكون</h2>
                <p class="webinty_arabic_font black_font">خدمات متكاملة لادارة الحملات الاعلانية على جوجل وصفحات التواصل الاجتماعي</p>
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">استهداف دقيق جدًا يناسب طبيعة نشاطك للوصول إلى العملاء المحتملين بدقة عالية وبتكلفة مناسبة.</li>
                                <li class="webinty_arabic_font">تحديد أدوات التسويق المناسبة لطبيعة العمل كإعلانات جوجل أو من خلال منصات التواصل الاجتماعي واختيار الجمهور بدقة عالية.</li>
                                <li class="webinty_arabic_font">من خلال خبراء التسويق فرصتك في تصحيح مسار خططك الإعلانية موجود ويمكن الاستفادة منها بعد التعديل بما يناسب عملك ويحقق لك مرادك.</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب خطتك التسويقيه الان</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/internet-marketing.jpg" alt="Image Title">
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>تفاصيل اكثر عن تنفيذ وادارة حملات تسويق الكتروني على الانترنت</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/internet-marketing.jpg" alt="Image Title">
            </div>
            <div class="col-md-6">
                <p class="webinty_arabic_font">عروض شركة ويب ينتي للترويج والتسويق لمنتجاتك أو خدماتك والإعلان عنها على الانترنت بهدف الوصول إلى فئة معينة ومحددة من العملاء الذين تقوم بتقديم وبيع هذه الخدمات والمنتجات لهم.</p>
                <p class="webinty_arabic_font">لقد أصبح التسويق الالكتروني من أهم أدوات الإعلان والترويج للخدمات والمنتجات لما يتميز به من ضمان الوصول إلى أكبر عدد ممكن من الجمهور المستهدف والمحدد سلفاً من حيث الفئة العمرية أو النوع أو حتى التواجد داخل منطقة جغرافية معينة مما ينعكس بالإيجاب وبشكل كبير وفعال على زيادة حجم التعامل على منتجاتك وخدماتك وكذلك الحصول على أكبر عدد ممكن من العملاء وبالتالي زيادة في معدل المبيعات والأرباح، كنتيجة مباشرة لعملية التسويق الالكتروني التي قمت بها.</p>
                <p class="webinty_arabic_font">إن التسويق الالكتروني يعتبر الأداة الأكثر فاعلية والأقل تكلفة مقارنة بطرق الإعلان والتسويق التقليدية، فمثلاً عند قيامك بتنفيذ حملة إعلانية على جوجل لمدة شهر متواصل سيكلفك الأمر ما يقرب من نسبة 10% من تكلفة تنفيذ نفس الحملة ولكن من خلال الصحف والمجلات أو حتى الراديو والتلفزيون بالإضافة إلى وصولك إلى أكبر عدد ممكن من العملاء المهتمين بمنتجاتك أو خدماتك بما ينعكس ايجابا على حجم مبيعاتك، ولعل أهم ما يميز حملات التسويق الالكتروني، انها حملات تستهدف بدقة فئة بعينها وهي التي قد تهتم بخدماتك ومنتجاتك، عكس إعلانات الجرائد او الطرق فإنها اعلانات مفتوحة للجميع، قد يحدث فيها هدر كبير على فئات ليست تمثل عملاء محتملين لما تقدمه من خدمات ومنتجات.</p>
                <p class="webinty_arabic_font">أيضا يعتبر من أهم مميزات تنفيذ حملات التسويق الالكتروني هو تحكمك الكامل في كيفية الإعلان وصيغته ووقت ظهوره بما يضمن لك تحقيق أفضل استفادة من الحملة الإعلانية الموجهة إلى عملائك المستهدفين وبما يوفر لك الضمان الكامل بأنك لن تدفع أموالك بدون الحصول على العائد الذي تنتظره من هذه الحملة الإعلانية.</p>
            </div>

        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><i class=" ico-tree"></i></span>الخطة التسويقية الأفضل على الإطلاق نضع خبرتنا بين يديك!</h2>
            <span class="webinty_arabic_font description2 centered">نوظف كل آليات التسويق الإلكتروني المختلفة في وضع خطة شاملة للوصول للأهداف بصورة مدروسة، ونتابع الخطة خطوة بخطوة.</span>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/google_adwords.png" alt="Image Title">
            </div>

            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">اعلانات جوجل ادوردز Google Ads</h2>
                <p class="webinty_arabic_font">استهداف دقيق من خلال توقع العملاء المحتملين لنشاطك أو فكرتك، وإدارة حملات إعلانية على جوجل وعمل اختبار لنتائج الحملة بصورة مستمرة للوصول لأفضل استهداف بأقل سعر للنقرة، يمكنك من خلاله الظهور في صدارة محركات البحث وتحقيق نتائج ممتازة.</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing/Google-Ads" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تفاصيل اكثر ..</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->






<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">اعلانات فيس بوك Facebook ads</h2>
                <p class="webinty_arabic_font">إعلانات الفيس بوك ليست مجرد حملة إعلانية لكنها استهداف دقيق، من خلال تحديد عمر وميول العميل المستهدف؛ ليحصل رد الفعل من العميل، وهذا ما نراعيه في فاديكوم؛ لأننا نعمل على توظيف كل المعلومات في تحديد الفئة المستهدفة، كما نحلل الحملة الإعلانية باستمرار للوصول إلى التكلفة المثالية والاستهداف المنشود.</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing/Facebook-Ads" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تفاصيل اكثر ..</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/facebook_ads.png" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->







<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/social_media.jpg" alt="Image Title">
            </div>


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">التسويق من خلال منصات التواصل الاجتماعي</h2>
                <p class="webinty_arabic_font">نضمن لك نتائج إيجابية للغاية وتحقيق أهدافك بالميزانية المحددة؛ لأننا نوظف خبرتنا في عالم التسويق كي نختار لك أفضل منصة تناسب عملك من بين المنصات المختلفة مثل: (فيس بوك – تويتر – انستجرام – لينكدن) كما نوظف المحتوى المرئي من خلال التسويق عبر (يوتيوب) مما يحقق لك انتشار على نطاق واسع جدًا.</p>
                <div class="hm-tabs simple_tabs">

                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">تهيئة المواقع لمحركات البحث SEO</h2>
                <p class="webinty_arabic_font">لدينا فريق من متخصصي تهيئة المواقع لمحركات البحث SEO. من خلال هذه الخدمة تستطيع الظهور في مختلفة منصات البحث في النتائج الأولى، وذلك بواسطة العمل على مسك كلمات مفتاحية تناسب نشاطك التجاري، أو الفكرة التي تسوق لها، هذه الخدمة ستعود عليك بفوائد لا حصر لها وستوفر عليك في المستقبل تكلفة الحملات الإعلانية.</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing/search-engine-optimization" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تفاصيل اكثر ..</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/seo.png" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->




<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/social_media.jpg" alt="Image Title">
            </div>


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">التسويق من خلال منصات التواصل الاجتماعي</h2>
                <p class="webinty_arabic_font">نضمن لك نتائج إيجابية للغاية وتحقيق أهدافك بالميزانية المحددة؛ لأننا نوظف خبرتنا في عالم التسويق كي نختار لك أفضل منصة تناسب عملك من بين المنصات المختلفة مثل: (فيس بوك – تويتر – انستجرام – لينكدن) كما نوظف المحتوى المرئي من خلال التسويق عبر (يوتيوب) مما يحقق لك انتشار على نطاق واسع جدًا.</p>
                <div class="hm-tabs simple_tabs">

                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->




<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">أدرج نشاطك التجاري على خرائط جوجل</h2>
                <p class="webinty_arabic_font">من خلال خرائط جوجل يمكنك الحصول على عدد من العملاء المحتملين، وتعزيز نشاط التجاري، وهذه الخدمة نقدمها لكم باحترافية عالية، من خلال وضع بيانات عن طبيعة مؤسستك لتسهيل عملية التواصل مع العملاء والرد على استفساراتهم. من خلال فاديكوم ستكون شركتك ذات انتشار غير محدود على محركات البحث. </p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تفاصيل اكثر ..</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/google_maps.png" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->



<!-- sales support section-->
<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">نحن موجودون لمساعدتك في اي وقت</h3>
        <span class="intro_text webinty_arabic_font">قسم المبيعات في خدمتكم على مدار الساعة للرد على كافة الاستفسارات، وتنفيذ طلباتكم فيما نقدمه من خدمات وحلول.</span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تواصل معنا</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
<!-- End sales support section-->