<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اعلانات الفيسبوك Facebook Ads</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="#" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الخدمات</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تسويق الكتروني</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اعلانات الفيسبوك Facebook Ads</span>
        </div>
    </div>
</section>
<!-- End Page Title -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>تهيئه المواقع لمحركات البحث</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font">تحسين ظهور الموقع على محركات البحث</h2>
                <p class="webinty_arabic_font black_font">ضع موقعك الالكتروني في اعلى نتائج محركات البحث مع خدمة تطوير محركات البحث SEO</p>
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">تعزيز نتائج البحث على أشهر المحركات وأهمها جوجل</li>
                                <li class="webinty_arabic_font">احصل على خدمات البحث عن الكلمات البحثية الرئيسية وتحسين صورة الاعمال من خلال تحسين الموقع</li>
                                <li class="webinty_arabic_font">استمتع بباقات مرنة تناسب ميزانيتك وتغطى جميع الخدمات</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">شاهد العروض والباقات</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/search_engine_optimization.jpg" alt="Image Title">
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->



<!-- Icon Boxes Style 1 A -->
<section class="content_section">
    <div class="main_title centered upper">
        <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>ماذا تتضمن خدمة تحسين محركات البحث (SEO) من ويب ينتي ؟</h2>
    </div>
    <div class="container icons_spacer icon_boxes_con style1 clearfix">
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="color2   ico-write"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">كتابه المحتوي</h3>
                    <span class="webinty_arabic_font">يقوم متخصصون التسويق الإلكتروني بإنشاء محتوى مثالي لاستهداف عملائك تطابق محتوى موقعك الإلكتروني مع نتائج محركات البحث الرئيسية محتوى مصمم خصيصاً لموقعك الالكتروني مثل المدونات ورسائل البريد الإلكتروني لنقل موقعك في رتبة أعلى علي محركات البحث</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="color1  ico-strategy"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">استراتجية تحسين محركات البحث داخل وخارج موقعك الألكتروني</h3>
                    <span class="webinty_arabic_font">ضاعف جودة موقعك الإلكتروني عن طريق خطة تحسين محركات البحث من خارج موقعك بإضافة محتوى متميز وروابط إلكترونية مؤدية لموقعك ومشاركات الشبكات الاجتماعية وأكثر تصدر موقعك ترتيب نتائج محركات البحث المجانية باستخدام خدمة تحسين محركات البحث من داخل الموقع بإضافة كلمات رئيسية للبحث أو أكواد الميتا تاج و أكواد H1 وغيرها اكسب ثقة محركات البحث وأهمها جوجل للتعرف على موقعك الإلكتروني الفريد</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="ico-search6"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">خدمه البحث عن الكلمات البحثية الرئيسية</h3>
                    <span class="webinty_arabic_font">يبحث فريق من الخبراء في تحسين محركات البحث عن الكلمات المناسبة لاستهدافها في البحث والإعلانات وقنوات التواصل الاجتماعي وغيرها معرفة ما يبحث عنه عملائك واستخدامه في استراتيجية تحسين محركات البحث كن في مرتبة أعلى من منافسيك مع الاستراتيجية الكاملة للبحث عن الكلمات البحثية الرئيسية</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Boxes Style 1 A -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><i class=" ico-tree"></i></span>كيف تعمل إستراتيجية تحسين محركات البحث من ويب ينتي؟</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/keyword-research-seo.jpg" alt="Image Title">
            </div>

            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">التحليل</h2>
                <p class="webinty_arabic_font">تحلل ويب ينتي جميع عوامل تحسين محركات البحث الخاصة بموقعك الإلكتروني وبناءً علي التحليل يتم بناء استراتيجية SEO التي تكون بمثابة حجر الأساس الرصين لحملة تصدر ترتيبك جميع محركات البحث</p>
                <div class="hm-tabs simple_tabs">

                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->






<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">التوجيه</h2>
                <p class="webinty_arabic_font">وفقاً لأهدافك التسويقية يقوم متخصصون ال SEO بوضع خطة تغطي جميع عوامل تطوير محركات البحث بدءاً من كتابة المحتوى وصولاً إلى استهداف الكلمات البحثية الرئيسية لتناسب عملك وللوصول لنتائج نهائية مرضية</p>
                <div class="hm-tabs simple_tabs">

                </div>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/seo_guide.png" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->







<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/seo_publishing.jpg" alt="Image Title">
            </div>


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">النشر</h2>
                <p class="webinty_arabic_font">بصفتك صاحب موقع الكترونى ستستمتع بمحتوى جذاب للعملاء وإستراتيجية متخصصة في تحسين محركات البحث ومرتبة أعلى من جميع منافسيك علي محركات البحث تصل لكل مستخدمي الإنترنت</p>
                <div class="hm-tabs simple_tabs">

                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->



<!-- sales support section-->
<div class="welcome_banner boxed-layout centered container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">أشعر بالنجاح بنفسك.</h3>
        <span class="ntro_text webinty_arabic_font">ليس عليك ان تكون خبير تسويقي عند وضع خطتك التسويقية، ولكن تبنى استراتيجية لتحسين محركات البحث الخاصة بموقعك الالكتروني أمر لا غنى عنه! بالاستعانة بخدمات تحسين محركات البحث (SEO) من فاديكوم تتمكن من تطوير استراتيجية تسويق الموقع الإلكتروني الخاص بك ومتابعة ارتفاعه في الرتب الأولى من نتائج البحث على كل المحركات مما يزيد فرص زيارة موقعك من قبل العملاء وضمان نجاحك.</span>
    </div>
</div>
<!-- End sales support section-->



<!-- sales support section-->
<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">نحن موجودون لمساعدتك في اي وقت</h3>
        <span class="intro_text webinty_arabic_font">قسم المبيعات في خدمتكم على مدار الساعة للرد على كافة الاستفسارات، وتنفيذ طلباتكم فيما نقدمه من خدمات وحلول.</span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تواصل معنا</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
<!-- End sales support section-->