<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اعلانات جوجل ادوردز Google Adwords</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="#" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الخدمات</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="<?php echo WEBINTY_AR_PATH;  ?>services/internet-marketing" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تسويق الكتروني</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >اعلانات جوجل ادوردز Google Adwords</span>
        </div>
    </div>
</section>
<!-- End Page Title -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>أعلِن على جوجل و ضاعف فرص نجاحك</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font">تحقيق النتائج التي تطمح لها من خلال اعلانات جوجل</h2>
                <p class="webinty_arabic_font black_font">شاهد نجاح ونمو شركتك وزيادة مبيعاتها الآن! احصل على دعم متميز لحملاتك الاعلانية و قم بتسويق منتجاتك وخدماتك بأقل التكاليف وأعلى النتائج وعلى أيدى أفضل خبراء التسويق والدعاية! ضاعف فرص نجاحك عبر التسويق الالكتروني مع إعلانات جوجل، احظي بالمزيد من العملاء والمبيعات في نفس الوقت, أظهر إعلاناتك في نتائج البحث على جوجل، إجذب المزيد من العملاء و اوصل لجمهورك المستهدف.</p>
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">جذب الزوّار إلى موقعك الإلكتروني زيادة نسبة المبيعات والحجوزات والاشتراكات في القائمة البريدية باستخدام الإعلانات المعروضة على الإنترنت والتي تجذب الزوّار إلى موقعك الإلكتروني</li>
                                <li class="webinty_arabic_font">تلقّي المزيد من المكالمات الهاتفية تلقّي المزيد من المكالمات من العملاء بفضل إعلانات تتضمّن رقم هاتفك وزر للاتّصال</li>
                                <li class="webinty_arabic_font">زيادة عدد الزيارات إلى متجرك جذب المزيد من العملاء إلى متجرك باستخدام إعلانات تساعدهم في العثور على عنوان شركتك على الخريطة</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اعلن علي جوجل الان</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/google_ads.png" alt="Image Title">
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->



<!-- Icon Boxes Style 1 A -->
<section class="content_section">

    <div class="container icons_spacer icon_boxes_con style1 clearfix">
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="color2  ico-map-pin"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">زيادة عدد الزيارات إلى متجرك</h3>
                    <span class="webinty_arabic_font">جذب المزيد من العملاء إلى متجرك باستخدام إعلانات تساعدهم في العثور على عنوان شركتك على الخريطة</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="color1 ico-phone"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">تلقّي المزيد من المكالمات الهاتفية</h3>
                    <span class="webinty_arabic_font">تلقّي المزيد من المكالمات من العملاء بفضل إعلانات تتضمّن رقم هاتفك وزر للاتّصال</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service_box">
                <span class="icon"><i class="ico-linegraph"></i></span>
                <div class="service_box_con centered">
                    <h3 class="webinty_arabic_font">جذب الزوّار إلى موقعك الإلكتروني</h3>
                    <span class="webinty_arabic_font">زيادة نسبة المبيعات والحجوزات والاشتراكات في القائمة البريدية باستخدام الإعلانات المعروضة على الإنترنت والتي تجذب الزوّار إلى موقعك الإلكتروني</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Boxes Style 1 A -->



<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><i class=" ico-tree"></i></span>شاهد نجاح ونمو أعمالك وزيادة مبيعاتك!</h2>
            <span class="webinty_arabic_font description2 centered">ابدأ حملة اعلانية متميزة مع فريق عمل متميز و قم بتسويق منتجات وخدمات شركتك واحصل على أفضل النتائج على ايدى افضل خبراء التسويق و الإعلان !</span>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/google_adwords.png" alt="Image Title">
            </div>

            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">متميزون بالاحترافية في إدارة إعلانات جوجل</h2>
                <p class="webinty_arabic_font">احصل على دعم فريق متميز ذو خبرة بالإعلان على جوجل وتقديم حلول متنوعة للوصول للجمهور المستهدف. أفكار متميزة للمنافسة في الظهور بأفضل النتائج على منصات جوجل الاعلانية المتنوعة حملتك الاعلانية تنمو وتتفوق مع مرور الوقت أكثر فأكثر. استقبل تقارير منتظمة ومنظمة عن تطور الحملة الإعلانية وما يليها من نمو وتطوير.</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اعلن عن شركتك الان</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->






<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">أفضل كلمات البحث وضمان أعلى جودة</h2>
                <p class="webinty_arabic_font">يعمل خبراء فاديكوم علي اختيار الكلمات الرئيسية الأنسب لحملتك الإعلانية علي أيدي خبراء من كاتبي المحتوى الإلكتروني و جذب الجمهور المستهدف من الحملة الدعائية وتجنب الزوار العشوائيين و ضمان أفضل النتائج لإعلاناتك ونشرها محلياً وعالمياً</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اظهر لجمهورك الان</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/google_adwords.png" alt="Image Title">
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->







<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">


            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/google_adwords.png" alt="Image Title">
            </div>


            <div class="col-md-6">
                <h2 class="title_color1 upper webinty_arabic_font">أعلِن على جوجل و ضاعف فرص نجاحك</h2>
                <p class="webinty_arabic_font">فاديكوم بتصمملك حملة إعلانية مصممة خصيصاً لنشاطك التجاري أو شركتك، و بتزودك بتقارير بكل تفاصيل الحملة لتتابع نتائجك بنفسك.</p>
                <div class="hm-tabs simple_tabs">
                    <div>
                        <a class="btn_a color3 medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">ابدأ حملتك الان</span><i class="in_right ico-like"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Rows Container -->


    </div>
</section>
<!-- End Features 3 -->







<!-- sales support section-->
<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">نحن موجودون لمساعدتك في اي وقت</h3>
        <span class="intro_text webinty_arabic_font">قسم المبيعات في خدمتكم على مدار الساعة للرد على كافة الاستفسارات، وتنفيذ طلباتكم فيما نقدمه من خدمات وحلول.</span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تواصل معنا</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
<!-- End sales support section-->