<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" > تصميم مواقع انترنت</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="#" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">الخدمات</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" > تصميم مواقع انترنت</span>
        </div>
    </div>
</section>
<!-- End Page Title -->





<!-- Features 3-->
<section class="content_section">
    <div class="content row_spacer clearfix">
        <div class="main_title centered upper">
            <h2 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><span class="line"><span class="dot"></span></span>تصميم مواقع انترنت</h2>
        </div>
        <!-- Rows Container -->
        <div class="icon_boxes_con style2 icon_box_no_border upper_title clearfix">
            <div class="col-md-6">
                <h2 class="title1 upper webinty_arabic_font">تصميم موقع احترافى يعبر عن صورة الشركة ويزيد من ثقة العملاء</h2>
                <p class="webinty_arabic_font black_font">تعرف على التفاصيل الخاصة بخدمة تصميم مواقع انترنت التي نقدمها في شركة ويب ينتي...</p>
                <br>
                <p class="webinty_arabic_font">ابدأ الان فى نقل اعمالك عبر الانترنت</p>
                <div class="hm-tabs simple_tabs">
                    <ul class="tabs-body">
                        <li data-content="desc" class="selected">
                            <ul class="list1 listfullcols clearfix">
                                <li class="webinty_arabic_font">تصميم موقع احترافي متجاوب مع جميع اجهزة الهاتف</li>
                                <li class="webinty_arabic_font">انشاء موقع متخصص يعكس صورة مشرفة لاعمالك</li>
                                <li class="webinty_arabic_font">عمل موقع على الانترنت يحجز لك مكان وسط المنافسين</li>
                                <li class="webinty_arabic_font">عروض وباقات متميزة لتصميم المواقع</li>
                                <li class="webinty_arabic_font">دعم كامل وخطط تسويقية للحصول على اكبر قيمة للموقع</li>
                            </ul>
                        </li>
                    </ul><!-- Tabs Content -->
                    <div>
                        <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">احجز موقعك الان</span><i class="in_right ico-like"></i></span></a>
                        <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/landing_page_website_design.jpg" alt="Image Title">
            </div>
        </div>
        <!-- End Rows Container -->
    </div>
</section>
<!-- End Features 3 -->


<!-- Features Box 1 -->
<section class="content_section bg_fixed white_section">
    <div class="bg_overlay">

        <div class="content no_padding clearfix">
            <div class="col-md-6 row_spacer">
                <h2 class="title2 webinty_arabic_font">تفاصيل اكثر عن تصميم مواقع انترنت</h2>
                <p class="webinty_arabic_font">ان مواقع الانترنت اصبحت تحمل اهمية كبرى الآن حيث انها تمثل الواجهة الاساسية للشركات والأفراد في العالم الافتراضي على الانترنت، فلم يعد امتلاك موقع انترنت يمثل رفاهية او امرا يمكن تجاهله او التغاضي عنه، فلا يمكن ان نتخيل شركة الآن او مكان عمل لا يمتلك موقع انترنت يعبر عنه ويشرح خدماته ومنتجاته بشكل سهل وبسيط</p>
                <h4 class="title2 webinty_arabic_font">لماذا يجب ان عليك امتلاك موقع انترنت</h4>
                <ul class="tabs-body">
                    <li data-content="desc" class="selected">
                        <ul class="list1 listfullcols clearfix">
                            <li class="webinty_arabic_font">وسيلة تسويقية فعالة يمكنك من خلالها التسويق لمنتجاتك او خدماتك</li>
                            <li class="webinty_arabic_font">فتح اسواق جديدة حيث ان موقع الانترنت متاح لكل انحاء العالم بما يعني انك تمتلك فرصة في كل لحظة لكسب عملاء جدد من كل بقاع الدنيا</li>
                            <li class="webinty_arabic_font">تصميم موقع انترنت لا يكلف الآن الكثير فقد اصبحت تكاليف واسعار انشاء مواقع الانترنت في متناول الشركات من جميع الاحجام</li>
                            <li class="webinty_arabic_font">الحصول على ايميل احترافي يمثل اسم الشركة بدلا من التعامل مع عملاءك بعنواين بريد الكتروني مجانية</li>
                            <li class="webinty_arabic_font">يمثل موقع الانترنت واجهة محترمة لشركتك او لمؤسستك بما ينعكس ايجابا على تقييمهم لك ولشركتك</li>
                        </ul>
                    </li>
                </ul><!-- Tabs Content -->
                <h4 class="title2 webinty_arabic_font">لماذا ستختار شركة ويب ينتي لتصميم موقع انترنت ؟</h4>
                <p class="webinty_arabic_font">لأننا في ويب ينتي لدينا خبرة من العمل في مجال تصميم المواقع، كما اننا نتميز بامتلاك اقوى فريق دعم فني لمساعدتك على ادارة موقعك وحل اي مشكلات تواجهها في أسرع وقت ممكن، كما اننا في اتقان نسعى وبجهد صادق وحقيقي على تنفيذ موقعك بأعلى درجات الاحترافية، كما اننا استحدثنا فريق مراقبة للجودة، وذلك لمراقبة أي موقع انترنت يتم تصميمه من خلالنا، فيتم اعادة تقييمه وبشكل مستمر والعمل على تحسينه باستمرار لضمان ان يكون موقعك على الانترنت متقدما على جميع المواقع المنافسة الأخرى</p>
            </div>
            <div class="has_col_img on_desktop">
                <img class="" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/tab1.png" alt="Image Description">
            </div>
        </div>
    </div>
</section>
<!-- End Features Box 1 -->





<!-- Our Blog Grids -->
<section class="content_section">
    <div class="content row_spacer no_padding">
        <div class="main_title centered upper">
            <h2 class="webinty_arabic_font"><span class="line"><i class="ico-pencil2"></i></span>مراحل برمجة وتصميم المواقع لدى ويب ينتي الأفضل في تصميم المواقع</h2>
            <p class="webinty_arabic_font">تتعدد مراحل تصميم و برمجة المواقع في شركتنا حيث نقوم بعملنا بكل دقة نستهدف بها رضاء العميل وحصوله على موقعه الإلكتروني كما يتمناه بكل المُميزات التي طلبها في بداية طلبه للخدمة، وهذه المراحل كالتالي:</p>
        </div>

        <!-- Filter Content -->
        <div class="hm_filter_wrapper timeline">
            <ul class="hm_filter_wrapper_con timeline">
                <li class="filter_item_block animated" data-animation-delay="300" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">1</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة الأولى في تصميم مواقع انترنت : معرفة المعلومات اللازمة من العميل : </h6>
                        <div class="article webinty_arabic_font">في هذه المرحلة نقوم بعمل إجتماع مُصغر مع العميل مع خلال مدير قسم برمجة وتصميم المواقع لكي يصل إلى المعلومات التي يُمكن الإستفادة منها في اختيار شكل وتصميم الموقع الذي يحتاجه العميل وما هي المُميزات التي سوف يحتاجها في موقعه لكي يبدأ الانتشار على الانترنت.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="600" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">2</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة الثانية في تصميم مواقع انترنت : تكوين الفكرة الأساسية للموقع </h6>
                        <div class="article webinty_arabic_font">ويتم في هذه المرحلة تكوين الفكرة الأساسية للموقع من حيث الشكل، الوظائف والمُميزات وذلك بناءًا على المعلومات التي تم الوصول إليها من خلال فكرة العميل وتصوره عن مشروعه الإلكتروني الجديد.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="300" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">3</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty"> المرحلة الثالثة في تصميم مواقع انترنت : التقاء رؤية العميل للمشروع مع فريق عمل الشركة</h6>
                        <div class="article webinty_arabic_font">وفي هذه المرحلة يتم عرض الرؤية التي تم تكوينها بناءًا على المعلومات التي تم استخلاصها من العميل صاحب الموقع وعرضها عليه للتأكد من توافق رؤية العميل مع مدير قسم برمجة وتصميم المواقع.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="600" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">4</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty"> المرحلة الرابعة في تصميم مواقع انترنت : عمل خطة فنية وزمنية للموقع</h6>
                        <div class="article webinty_arabic_font">عمل تحليل وخطة فنية لبناء الموقع أو التطبيق أو نظام الشركة ويتم في هذه المرحلة تحديد في هذه الخطة الزمنية لبرمجة وتصميم المواقع مع الإلتزام بالمواعيد التي يتم اقرارها في هذه الخطة الفنية.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="300" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">5</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة الخامسة في تصميم مواقع انترنت : بداية برمجة الموقع </h6>
                        <div class="article webinty_arabic_font">ويتم البدء في هذه المرحلة بأن يقوم فريق عمل افضل شركتنا لـ [تصميم مواقع انترنت] بالبدء في برمجة الموقع الالكتروني على ما تم الإتفاق عليه ووفقًا للخطة الزمنية والفنية التي تم وضعها ويتم العمل على برمجة وتصميم المواقع الالكترونية من خلال أحدث التقنيات التي يتم الإعتماد عليها في لغات البرمجة.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="600" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">6</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة السادسة في تصميم مواقع انترنت : عرض ما تم انجازه على العميل </h6>
                        <div class="article webinty_arabic_font">يتم من خلال هذه المرحلة عرض واطلاع العميل على ما تم الوصول اليه من انجازات في تصميم الموقع حيث يكون هناك شكل فعلي للموقع على الشبكة من خلال سيرفر الشركة ليكون العميل على اطلاع دائم ما تم انجازه.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="300" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">7</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty"> المرحلة السابعة في تصميم مواقع انترنت : تدوين ملاحظات العميل وتنفيذها</h6>
                        <div class="article webinty_arabic_font">عندما يتم عرض الموقع على العميل يكون للعميل صاحب الموقع بعض المُلاحظات التي يتم أخذها في الإعتبار والعمل على تنفيذها في خلال فترة تنفيذ الموقع حتى يكون الموقع كما يتمنى العميل لحظة التسليم.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="600" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">8</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty"> المرحلة الثامنة في تصميم مواقع انترنت : المرحلة النهائية في انجاز الموقع الالكتروني</h6>
                        <div class="article webinty_arabic_font">وهي الوصول الى المراحل النهائية في انجاز المشروع حيث يكون الموقع شبه مُكتمل من الناحية الفنية والبرمجية بعد إتمام وانجاز كافة المُلاحظات التي وضحها العميل في المرحلة السابقة.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="300" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">9</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة التاسعة في تصميم مواقع انترنت : نشر نسخة تجريبية للموقع </h6>
                        <div class="article webinty_arabic_font">يتم في هذه المرحلة تجربة الموقع والتأكد من خلوه من أي مشاكل برمجية للعمل على اصلاحها مع امكانية اضافة أي مُلاحظات جديدة للعميل في اطار الرؤية السابقة التي تم الإتفاق عليها في الخطة الفنية والزمنية.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="600" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">10</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة العاشرة في تصميم مواقع انترنت : تنفيذ مُلاحظات العميل على النسخة التجريبية </h6>
                        <div class="article webinty_arabic_font">في هذه المرحلة يتم تنفيذ كافة مُلاحظات العميل على النسخة التجريبية للموقع من حيث وجود أي أخطاء أو اضافة أي تعديلات او نقاط إضافية، بما لا يؤثر على الرؤية السابقة حيث أننا في افضل من يقوم بتصميم مواقع انترنت في مصر نسعى لراحة العميل ورضاه قبل أي شيء.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
                <li class="filter_item_block animated" data-animation-delay="300" data-animation="bounceInUp">
                    <div class="timeline_block clearfix">
                        <span  class="timeline_post_format image"><i class="fa-alph">11</i></span>

                        <h6 class="timeline_title webinty_arabic_font standard_color_webinty">المرحلة الحادية عشر والأخيرة في من تصميم مواقع انترنت : تسليم الموقع الإلكتروني بنجاح </h6>
                        <div class="article webinty_arabic_font">يتم في المرحلة الأخيرة لبرمجة المواقع وتصميم مواقع الانترنت تسليم الموقع بعد إتمام تصميمه وبرمجته على الشكل والإمكانيات التي طلبها العميل وبعد تنفيذ كافة مُلاحظاته على المشروع.</div>
                        <div class="clearfix">

                        </div>
                    </div>
                </li><!-- Item -->
            </ul>
        </div>
        <!-- End Filter Content -->
    </div>
</section>
<!-- End Our Blog Grids -->






<!-- Isotope Filter 1 Three columns with padding -->
<section class="content_section bg_gray">
    <div class="row_spacer clearfix">

        <div class="content">
            <div class="main_title centered upper">
                <h2 class="webinty_arabic_font"><span class="line"><span class="dot"></span></span>عروض تصميم مواقع انترنت في <?php echo date("Y"); ?></h2>
                <p class="webinty_arabic_font">لأننا متخصصون في مجال تصميم مواقع انترنت، فإننا نقدم مجموعة من اقوى عروض تصميم مواقع انترنت، كما أننا نقدم أفضل الأسعار في السوق المصري.</p>
                <div>
                    <a class="main_button color3 large_btn bottom_space webinty_arabic_font" target="_self" href="#">
                        لمعرفه عروض واسعار تصميم مواقع انترنت اضغط هنا
                    </a>
                </div>
            </div>
        </div>

        <!-- Filter Content -->
        <!-- Filter Content -->
        <div class="hm_filter_wrapper three_blocks project_text_nav boxed_portos has_sapce_portos nav_with_nums upper_title upper_title">


            <div class="hm_filter_wrapper_con">



                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/medical_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/medical_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>medical-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>medical-website-design" class="webinty_arabic_font">تصميم موقع طبي</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/ecommerce_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/ecommerce_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>ecommerce-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>ecommerce-website-design" class="webinty_arabic_font">تصميم متجر الكتروني</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->


                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/corporate_wesite_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/corporate_wesite_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>corporate-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>corporate-website-design" class="webinty_arabic_font">تصميم موقع شركه</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->


                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/realestate_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/realestate_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>realestate-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>realestate-website-design" class="webinty_arabic_font">تصميم موقع عقاري</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/travel_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/travel_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>travel-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>travel-website-design" class="webinty_arabic_font">تصميم موقع سياحي</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/magazine_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/magazine_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>magazine-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>magazine-website-design" class="webinty_arabic_font">تصميم موقع اخباري</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/education_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/education_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>education-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>education-website-design" class="webinty_arabic_font">تصميم موقع تعليمي</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/restaurant_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/restaurant_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>restaurant-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>restaurant-website-design" class="webinty_arabic_font">تصميم موقع مطعم</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/furniture_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/furniture_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>furniture-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>furniture-website-design" class="webinty_arabic_font">تصميم موقع اثاث</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/transport_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/transport_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>transport-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>transport-website-design" class="webinty_arabic_font">تصميم موقع نقل</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/lawyer_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/lawyer_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>lawyer-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>lawyer-website-design" class="webinty_arabic_font">تصميم موقع محامي</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/training_center_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/training_center_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>training-center-website-design" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>training-center-website-design" class="webinty_arabic_font">تصميم موقع مركز تدريب</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

                <div class="filter_item_block design wordpress">
                    <div class="porto_block">
                        <div class="porto_type">
                            <a data-rel="magnific-popup" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/landing_page_website_design.png">
                                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/web_design_categories/landing_page_website_design.png" alt="Portfolio Name">
                            </a>
                            <div class="porto_nav">
                                <a href="<?php echo WEBINTY_AR_PATH;  ?>landing-page" class="detail_link webinty_arabic_font">تفاصيل اكثر</a>
                            </div>
                        </div>
                        <div class="porto_desc">
                            <h6 class="name"><a href="<?php echo WEBINTY_AR_PATH;  ?>landing-page" class="webinty_arabic_font">تصميم موقع صفحه واحده Landing Page</a></h6>
                            <div class="porto_meta clearfix">

                            </div>
                        </div>
                    </div>
                </div><!-- Item -->

            </div>
        </div>
        <!-- End Filter Content -->

        <!-- End Filter Content -->

    </div>
</section>
<!-- End Isotope Filter 1 Three columns with padding -->









<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">نحن موجودون لمساعدتك في اي وقت</h3>
        <span class="intro_text webinty_arabic_font">قسم المبيعات في خدمتكم على مدار الساعة للرد على كافة الاستفسارات، وتنفيذ طلباتكم فيما نقدمه من خدمات وحلول.</span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">تواصل معنا</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
