<!-- Page Title -->
<section class="content_section page_title">
    <div class="content clearfix">
        <h1 class="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >تصميم موقع صفحه واحده</h1>
        <div class="breadcrumbs">
            <a href="<?php echo WEBINTY_AR_PATH;  ?>" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif" >الرئيسيه</a>
            <span class="crumbs-spacer"><i class="ico-angle-left"></i></span>
            <a href="" style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">تصميم موقع صفحه واحده</a>
        </div>
    </div>
</section>
<!-- End Page Title -->



<!-- Services Intro -->
<section class="content_section">
    <div class="content row_spacer no_padding">
        <div class="rows_container clearfix">

            <div class="col-md-4">
                <span class="spacer30"></span>
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/landing_page_website_design.jpg" alt="Image Title">
            </div>

            <div class="col-md-8">
                <h2 class="title1 upper webinty_arabic_font">تصميم موقع صفحه واحده - صفحه هبوط Landing Page</h2>
                <p class="webinty_arabic_font"> عرض تصميم موقع صفحه واحده ، يشمل العرض تصميم موقع انترنت كامل صفحه واحده متوافق مع الموبايل والكمبيوتر والتابلت، وخطة استضافة ٥ جيجا على أفضل الخوادم الأمريكية عالية الكفاءة، بالاضافة الى حجز الدومين</p>
                <br>
                <p class="webinty_arabic_font">عرض خاص للشركات الناشئة، والمكاتب الصغيرة، لامتلاك موقع انترنت تعريفي متكامل ، ويشمل أيضا خطة استضافة 5 جيجا، و50 عنوان بريد الكتروني، وحجز الدومين، وشهادة تأمين الموقع SSL Certificate .. مع العلم أن هذا العرض يشمل تصميم موقع ثابت، كموقع ويب تعريفي للشركة على الانترنت، بالاضافة طبعا الى استخدام عنواين البريد الالكتروني الاحترافية بإسم الشركة بدلا من استخدام البريد الالكتروني المجاني.</p>
            </div>

        </div>
    </div>
</section>
<!-- End Services Intro -->



<!-- Accordion -->
<section class="content_section ">
    <div class="content row_spacer clearfix">
        <div class="col-md-6">
            <div class="main_title upper small">
                <h2 class="webinty_arabic_font"><span class="line"><span class="dot"></span></span>طرق الحجز</h2>
            </div>

            <span class="intro_text webinty_arabic_font">- يمكنك الدفع عن طريق الفيزا أو البريد المصري أو فودافون كاش أو بيبال أو تحصيل من مقر الشركة أو اترك بياناتك للحجز معنا</span>
            <h3 class="webinty_arabic_font">اتصل بنا او املأ استمارة الحجز الآن:</h3>

            <div>
                <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">احجز الان</span><i class="in_right ico-like"></i></span></a>
                <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
            </div>


        </div>
        <!-- End col-md-6 -->

        <div class="col-md-6">
            <div class="main_title upper small">
                <h2 class="webinty_arabic_font"><span class="line"><span class="dot"></span></span>مواصفات وتفاصيل</h2>
            </div>
            <span class="intro_text webinty_arabic_font">- مواصفات تصميم موقع صفحه واحده - صفحه هبوط Landing Page   : </span>
            <!-- Tabs Container -->
            <div class="hm-tabs simple_tabs">
                <ul class="tabs-body">
                    <li data-content="desc" class="selected">
                        <ul class="list1 listfullcols clearfix">
                            <li class="webinty_arabic_font">تصميم موقع انترنت ثابت مكون من صفحه واحده</li>
                            <li class="webinty_arabic_font">تصميم صفحة رئيسية تحتوي على سلايدر صور</li>
                            <li class="webinty_arabic_font">صفحة التعريف بالشركة او بصاحب الموقع</li>
                            <li class="webinty_arabic_font">صفحة عرض الخدمات / المنتجات</li>
                            <li class="webinty_arabic_font">صفحة لعرض سابقة الأعمال أو قائمة العملاء، أو نماذج الأعمال (حسب الاختيار)</li>
                            <li class="webinty_arabic_font">صفحة اتصل بنا - تحتوي على نموذج اتصال عند ملئه يتم ارسال البيانات الى عنوان بريد الكتروني من اختيارك</li>
                            <li class="webinty_arabic_font">التصميم متوافق مع كافة اجهزة الموبايل والتابلت والكمبيوتر واللابتوب.</li>
                            <li class="webinty_arabic_font">الموقع لغة واحدة عربي أو انجليزي.</li>
                            <li class="webinty_arabic_font">حجز اسم الدومين .com , .net , .org</li>
                            <li class="webinty_arabic_font">خطة الاستضافة رقم 1 (5 جيجا + 50 ايميل) - على سيرفرات امريكية لضمان السرعة والكفاءة</li>
                            <li class="webinty_arabic_font">شهادة SSL لتأمين الموقع.</li>
                            <li class="webinty_arabic_font">يتم تصميم الموقع خلال 5 أيام عمل من يوم استلام الداتا الخاصة بالموقع كاملة.</li>
                            <li class="webinty_arabic_font">التجديد السنوي: 1000 جنية (300ج تجديد الدومين + 700ج تجديد خطة الاستضافة رقم #1)</li>
                        </ul>
                    </li>
                </ul><!-- Tabs Content -->
            </div>
            <!-- Tabs Container -->
        </div>
        <!-- End col-md-6 -->
    </div>
</section>
<!-- End Accordion -->





<section class="content_section">
    <div class="content row_spacer">


        <h2 class="title1 centered upper webinty_arabic_font">تصميم موقع صفحه واحده landing page</h2>
        <span class="description2 centered webinty_arabic_font">تصميم موقع صفحه واحده موقع انترنت تعريفي متكامل للشركات الناشئة، والمكاتب الصغيرة، لامتلاك موقع انترنت </span>

    </div>
</section>




<div class="welcome_banner boxed_white container">
    <div class="content clearfix">
        <h3 class="webinty_arabic_font">اطلب الان تصميم موقع تعريفي landing page</h3>
        <span class="intro_text webinty_arabic_font">نحن متخصصون فى تصميم هوية العلامات التجارية للمساعدة فى توصيل شعار التصاميم الإبداعية و تصاميم الهوية المؤسسية للمعاير المهنية. يمكنك الحصول على علامة تجارية معترف بها و مضمونة و متميزة فقط من خلال شركة ويب ينتي.
اذا كنت تريد هوية لشركتك بمواصفات خاصة ، سوف يتم دراسة المواصفات المطلوبة و حساب التكلفة بناء علي طلب العميل ، برجاء التواصل معنا لارسال عرض سعر وكتابة عقد رسمي </span>
        <div>
            <a class="btn_a medium_btn bottom_space" target="_self" href="#" style="margin:10px"><span><i class="in_left ico-like"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اطلب الخدمه</span><i class="in_right ico-like"></i></span></a>
            <a class="btn_a color1 medium_btn bottom_space" target="_self" href="tel:00201287258368" style="margin:10px"><span><i class="in_left ico-phone5"></i><span style="font-family: 'Noto Kufi Arabic', sans-serif;font-weight: bold">اتصل هاتفيا</span><i class="in_right ico-phone5"></i></span></a>
        </div>
    </div>
</div>
