<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Important stuff for SEO, don't neglect. (And don't dupicate values across your site!) -->
    <title><?php echo $pageTitle; ?></title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />

    <!-- Don't forget to set your site up: http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />
    <meta name="Copyright" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- whats app icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <!-- End whats app icon -->


    <!-- Font Noto Kufi Arabic -->
    <link href="https://fonts.googleapis.com/earlyaccess/notokufiarabic.css" rel="stylesheet" type="text/css" />

    <!-- Use Iconifyer to generate all the favicons and touch icons you need: http://iconifier.net -->
    <link rel="shortcut icon" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/favicon/apple-touch-icon-152x152.png" />

    <!-- concatenate and minify for production -->
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/webinty.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/rtl.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/settings.css" media="screen" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/animate.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/magnific-popup.css" type="text/css" media="all" />
    <link rel="stylesheet" href="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/css/icon-fonts.css" type="text/css" media="all" />


</head>

<!-- Class ( site_boxed - dark - preloader1 - preloader2 - preloader3 - light_header - dark_sup_menu - menu_button_mode - transparent_header - header_on_side ) -->
<body class="preloader3 light_header">
<div id="preloader">
    <div class="spinner">
        <div class="sk-dot1"></div><div class="sk-dot2"></div>
        <div class="rect3"></div><div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>


<div id="main_wrapper">
<!-- Section -->
<section class="content_section">
    <div class="container row_spacer clearfix">
        <div class="content">
            <div class="main_desc centered">
                <p style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><b>هذه الصفحة غير موجودة ...  خطأ ٤٠٤</b></p>
                <p style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><b>نأسف لهذا الخطأ ولكن هذه الصفحة غير موجودة بالفعل</b></p>
                <p style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif"><b>رجاء التأكد من الرابط والمحاولة مرة اخرى </b></p>
            </div>
            <div class="my_col_third on_the_center">

            </div>
            <div class="page404">
                <span>404<span class="face404"></span></span>
            </div>
            <div class="centered">
                <a href="<?php echo WEBINTY_AR_PATH;  ?>" target="_self" class="btn_a medium_btn bottom_space">
                    <span><i class="in_left ico-home5"></i><span style="font-weight: bold;font-family: 'Noto Kufi Arabic', sans-serif">اذهب الى الصفحة الرئيسية</span><i class="in_right ico-home5"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
</div>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/js/jquery.js"><\/script>')</script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/js/plugins.js"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/js/isotope.pkgd.min.js"></script>
<!-- this is where we put our custom functions -->
<script type="text/javascript" src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/js/functions.js"></script>
</body>
</html>




