
<!-- Slider Revolution -->
<div class="tp-banner-container">
    <div class="tp-banner-panzoom-fullscreen" >
        <ul>


            <li data-transition="random"  data-slotamount="7" data-masterspeed="500" data-thumb="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/homeslider_thumb2.jpg"  data-saveperformance="on"  data-title="Slide 3">
                <!-- MAIN IMAGE -->
                <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/revolution/dummy.png"  alt="slidebg1" data-lazyload="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/hm_rev_bg_2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->








                <!-- LAYERS -->
                <!-- Device 1 -->
                <div class="tp-caption lfr customout rs-parallaxlevel-2"
                     data-x="651"
                     data-y="118"
                     data-customout="x:-200;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="800"
                     data-endeasing="Power4.easeIn"
                     data-speed="1200"
                     data-start="800"
                     data-easing="Power4.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 1;"><img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/device1.png" alt="Image Title">
                </div>
                <!-- Device 2 -->
                <div class="tp-caption lfr customout rs-parallaxlevel-2"
                     data-x="419"
                     data-y="280"
                     data-customout="x:-200;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     data-speed="1200"
                     data-start="1100"
                     data-easing="Power4.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 1;"><img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/device2.png" alt="Image Title">
                </div>
                <!-- Device 3 -->
                <div class="tp-caption lfr customout rs-parallaxlevel-2"
                     data-x="944"
                     data-y="273"
                     data-customout="x:-200;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     data-speed="1200"
                     data-start="1400"
                     data-easing="Power4.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 1;"><img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/device3.png" alt="Image Title">
                </div>
                <!-- Device 4 -->
                <div class="tp-caption lfr customout rs-parallaxlevel-2"
                     data-x="841"
                     data-y="417"
                     data-customout="x:-200;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     data-speed="1200"
                     data-start="1700"
                     data-easing="Power4.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 1;"><img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/device4.png" alt="Image Title">
                </div>
                <!-- Device 5 -->
                <div class="tp-caption lfr customout rs-parallaxlevel-2"
                     data-x="748"
                     data-y="478"
                     data-customout="x:-200;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     data-speed="1200"
                     data-start="2000"
                     data-easing="Power4.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 1;"><img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/device5.png" alt="Image Title">
                </div>












                <!-- LAYER NR. 2 -->
                <div class="tp-caption oswald_font rev_title_a rev_color2 sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="100"
                     data-speed="800"
                     data-start="1300"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1" style="z-index: 10;">
                    <span class="upper">Business With Us</span>
                </div>



                <!-- LAYER NR. 3 -->
                <div class="tp-caption rev_title_aa rev_color3 sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="170"
                     data-speed="800"
                     data-start="1800"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1">
                    Start your internet global Business with Enar
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="260"
                     data-speed="800"
                     data-start="2000"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1">
                    <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/revolution/rev_arrow1.png" alt=">>">
                </div>
                <div class="tp-caption italic rev_title_b rev_title_c sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="50"
                     data-y="260"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="2100"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1">
                    Responsive Design
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="300"
                     data-speed="800"
                     data-start="2200"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1">
                    <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/revolution/rev_arrow1.png" alt=">>">
                </div>
                <div class="tp-caption italic rev_title_b rev_title_c sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="50"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="2300"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1">
                    Reuse them as often as you need
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="340"
                     data-speed="800"
                     data-start="2400"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1">
                    <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/revolution/rev_arrow1.png" alt=">>">
                </div>
                <div class="tp-caption italic rev_title_b rev_title_c sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="50"
                     data-y="340"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="2500"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1">
                    Simply save them as template
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="380"
                     data-speed="800"
                     data-start="2600"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1">
                    <img src="<?php echo WEBINTY_BACKEND_ASSETS_PATH ; ?>front_assets/images/sliders/revolution/rev_arrow1.png" alt=">>">
                </div>
                <div class="tp-caption italic rev_title_b rev_title_c sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="50"
                     data-y="380"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="2700"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.05"
                     data-endelementdelay="0.1">
                    Created one or multiple layouts
                </div>
                <!-- Button - LAYER NR. 8 -->
                <div class="tp-caption sfr tp-resizeme rs-parallaxlevel-2"
                     data-x="15"
                     data-y="470"
                     data-speed="800"
                     data-start="2800"
                     data-easing="easeOutQuad"
                     data-endeasing="Power4.easeIn"
                     data-endspeed="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 11;">
                    <a href="#" target="_self" class="main_button large_btn rev_button_a">
                        <i class="in_left ico-cart"></i>Purchase Now
                    </a>
                </div>








            </li>

        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- End Slider Revolution -->

